// Checkbox
::ng-deep .datepicker,
.mat-form-field {
    width: 0px !important;
}

.table td>.abc-checkbox,
.table th>.abc-checkbox {
    >label:before,
    >label:after {
        margin-left: -16px;
    }
}

.reportbtn {
    margin-left: 5px;
}

.search_btn {
    color: #fff;
    border-color: #fff;
}

.radio_txt {
    padding-right: 15px;
}

.serch_txt {
    padding: 6px 10px;
    text-align: left;
    border-radius: 2px;
    border-width: 0px;
    border: 1px solid #ddd;
    text-align: left;
    height: 36px;
}

.order_txt {
    font-size: 30px;
    color: #14a9b5;
    font-weight: 500;
}

.serch_btn {
    background-color: #FF6D6D;
    border-color: #ca4d4d;
    border: 1px solid #ca4d4d;
}

.serch_btn:hover {
    background-color: #FF6D6D;
    border-color: #ca4d4d;
    border: 1px solid #ca4d4d;
}
.sub-title {
    font-size: 16px;
    font-weight: 500;
}
.table_head .all_engage {
    padding: 7px 0px 3px;
}

.bck_tabcol {
    background-color: #f7f9fd;
}

.all_tableh {
    padding: 0px 0px 18px;
}

.all_week {
    width: 165px;
    padding-left: 0px;
    margin-left: 76px;
    padding: 6px 0px;
    color: #000;
    font-weight: 600;
}

.nextprv_txt .next_btn ul {
    list-style: none;
    float: right;
    padding-right: 0px;
}

.nextprv_txt .next_btn ul li {
    display: inline;
    float: left;
    padding: 0px 15px 0px 15px;
}

.nextprv_txt .next_btn ul .arrow_icon {
    font-size: 20px;
    font-weight: 400;
    padding: 5px 0px;
}

.nextprv_txt .next_btn ul .box_txticon {
    padding: 5px 15px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
}

.nextprv_txt .show_txt p {
    color: #000;
    font-weight: 400;
    font-size: 12px;
}

.pdf_txt {
    margin-top: -4px;
}
.filter_sec{
   min-width: 130px!important;
   float: right;
}
.filter_sec select{
    min-width: 120px!important;
    padding: 6px 5px;
    border-radius: 2px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.18);
}

@media only screen and (min-width: 320px) {
    .enter_error {
        color: #ff0000;
        padding-left: 21%;
        font-size: 15px;
        font-weight: 600;
    }
    .serch_txt {
        width: 175px;
    }
    .all_week {
        margin-left: 0px;
        margin-top: 8px;
    }
    .widget-body {
        overflow-x: scroll;
    }
    th,
    td {
        min-width: 135px;
    }
    .nextprv_txt .next_btn ul {
        list-style: none;
        float: left;
        padding-left: 0px;
    }
    .nextprv_txt .next_btn ul li {
        display: inline;
        float: left;
        padding: 0px 10px 0px 10px;
    }
    .nextprv_txt .next_btn ul .box_txticon {
        padding: 5px 12px;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        box-shadow: 1px 1px 1px #e6e6e6;
    }
}


@media only screen and (min-width: 568px) {
    .serch_txt {
        width: 160px;
    }
    .widget-body {
        overflow-x: scroll;
    }
    th,
    td {
        min-width: 200px;
    }
}

@media only screen and (min-width: 1100px) {
    .serch_txt {
        width: 235px;
    }
    .all_week {
        margin-left: 76px;
        margin-top: 0px;
    }
    .widget-body {
        overflow-x: hidden;
    }
    th,
    td {
        min-width: 0px;
    }
    .nextprv_txt .next_btn ul {
        list-style: none;
        float: right;
        padding-right: 0px;
    }
    .nextprv_txt .next_btn ul li {
        display: inline;
        float: left;
        padding: 0px 15px 0px 15px;
    }
    .nextprv_txt .next_btn ul .box_txticon {
        padding: 5px 15px;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        box-shadow: 1px 1px 1px #e6e6e6;
    }
}

.hide_btn {
    display: block;
    pointer-events: none;
}

.hide_btntxt {
    padding: 5px 5px;
    font-size: 13px;
    border-radius: 9px;
    margin-left: 25px;
    background-color: rgba(128, 128, 128, 0.54);
    border-color: #1dc8d5;
    border: none;
    color: #fff;
    width: 113px;
}

.hide_btn:hover,
.hide_btn:active:hover,
.hide_btn:active:focus,
.hide_btn:focus {
    background-color: #1dc8d5;
    border-color: #1dc8d5;
}

.button_addtxt {
    background-color: #14a9b5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    float: right;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.add_txt {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}

.reset_btn {
    float: right;
}

@media screen and (max-width:459px) {

    .reset_btn .reset_txt {
        display: none;
    }
    .reset_btn {
        width: auto;
    }
    .btn .glyphicon {
        right: 0;
    }
}



@media screen and (max-width: 600px) {
    .hs-table td button {
        margin-right: 0;
        font-size: 13px;
    }
    .all_fillter_btn li {
        float: none;
    }
}


@media screen and (max-width: 455px) {
    .button_addtxt {
        margin: 5px 0;
    }
}

.totalOrders {
    background-color: #555;
}

.buttonCounts {
    margin-left: 0px;
    margin-top: 25px;
}

.phleboUnAssignedOrders {
    /* background-color: #AD4848;*/
    background-color: #27d2b3;
}

.phleboRejected {
    /*background-color: #EC4C39;*/
    background-color: #fe4343;
}

.vendorUnAssignedOrders {
    /* background-color: #AD4848;*/
    background-color: #9A564F;
}

.vendorRejectedOrders {
    /*background-color: #EE9627;*/
    background-color: #D7972F;
}

.workingProgress {
    background-color: #8FAF66;
}

.sampleCollectedOrders {
    background-color: #8FAF66;
}

.sampleDeliveredOrders {
    background-color: #0a6038;
}

.all_fillter_btn {
    list-style: none;
    padding-left: 0px;
}

.all_fillter_btn li {
    float: left;
    padding-right: 10px;
}

.notification {
    color: white;
    text-decoration: none;
    padding: 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #00000073;
    // margin: 5px;
}

.notification .badge {
    position: absolute;
    top: -12px;
    right: -8px;
    padding: 4px 7px;
    border-radius: 50%;
    background: red;
    color: white;
}

.notification .badge {
    width: 25px;
    height: 25px;
}

.notification .badge p {
    margin-top: 2px;
}

.order_state .search-orders {
    margin-top: 10px;
}

.order_state .filter-orders h6 {
    margin-top: 0px;
}

.all_fillter_btn li {
    float: left;
    padding-right: 10px;
    padding-bottom: 20px;
}

@media screen and (max-width: 455px) {
    .all_fillter_btn li {
        float: none;
    }
}



//------------------------- image ----------

.newadd_process {
    position: relative;
    margin-bottom: 35px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 0.2rem;
    margin-top: 10px;
}

.newadd_processcroll {
    max-height: 250px;
    overflow: auto;
}

.newadd_process .patient_txt h4 {
    font-size: 21px;
}

.prescription_scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 25px;
}

.prescription_jpg h4 {
    color: #11a9b5;
}

.prescription_padding {
    padding-left: 0px;
}

.download_imagetxt {
    padding: 10px 15px;
    background-color: #214d8d;
    color: #fff;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.image_download {
    margin-left: 40%;
}

.image_sliderpop {
    width: 100% !important;
    object-fit: contain;
    max-height: 85vh;
}

.image_clickpopup {
    height: 175px;
    cursor: pointer;
    object-fit: contain;
}

.image_clickpdf {
    width: auto;
    height: auto;
    cursor: pointer;
}

.slider_close {
    font-size: 30px;
    color: #000;
}

.modal-body {
    margin-top: 0px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}
.datepicker{
    min-width: 160px !important;
    width: 100% !important;
}

@media screen and (min-width:992px) {
    .search-orders{
        margin-top:28px;
    }
}
@media screen and (max-width:766px){
    .filter_sec select {
        width: 100% !important;
    }
}

// @media screen and (max-width:459px){
//     .filter_txt select{
//         width: 96px;
//     }
// }
@media screen and (min-width:992px) and (max-width: 1017px){
    .filter_txt select{
        width: 125px;
    }
}