.casesheet .table th,
.casesheet .table td {
  text-align: center;
}

.casesheet .table th {
  padding: 15px 10px !important;
}

.casesheet .table td {
  padding: 5px 10px !important;
}

.d-inline-block {
  display: inline-block !important;
}

.w-auto {
  width: auto !important;
}

.ocular_movementlabel {
  margin: 0 20px 10px 0;
}

.form-control:focus {
  border-color: #5cc9d6;
}

input[type='number'] {
  @include appearance(textfield);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}