@import "../../../../scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../scss/theme.scss";


/*
 * Bootstrap calendar
 */
.sub-title{
  font-size: 16px;
  font-weight: 500;
}
.admin_order{
width: 500px!important;
}
.processorder_styletxt{
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
}
.refresh {
    margin-right: 15px;
    padding: 7px 15px;
    background-color: #1dc8d5;
    margin-top: 33px;
}
.pending_txt{
color: #fff;
border: none;
border-radius: 6px;
padding: 5px 5px;
width: 125px;
}
.hide_btntxt {
    padding: 5px 5px;
    font-size: 13px;
    border-radius: 9px;
    margin-left: 0px;
    background-color: rgba(128, 128, 128, 0.54);
    border-color: #1dc8d5;
    border: none;
    color: #fff;
    width: 125px;
}
.filter_txt{
  float: right;
  margin-right: 15px;
}
.filter_txt select{
    width: 130px;
    padding: 6px 5px;
    border-radius: 4px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.18);
}
.select_city{
    margin-right: 0px;
}
.filter_txt select:focus {
    outline-offset: 0px;
    border-color: transparent;
    outline: 0px;
}
.hide_btn {
    display: block;
    pointer-events: none;
}

.search_btn{
background-color: #ff6d6d;
    border-color: #ff6d6d;
}
.search_btn:active:hover{
background-color: #ff6d6d;
    border-color: #ff6d6d;
}
.calendar{
  font-size: $font-size-mini;
  padding: $line-height-computed/2 0;
}
.calendar a{
  text-decoration: none;
  cursor: pointer;
  color: $gray-dark !important;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.calendar td{
  text-align: center;
}
.calendar .header{
  padding: 10px 0 10px 0;
  color: #666;
  i{
    cursor: pointer;
  }
}
.calendar .prev_month{
  float: left;
}
.calendar .next_month{
  float: right;
}
.calendar .year{
  text-align: center;
  font-weight: 500;
}
.calendar .week_days{
  color: $gray-light;
}
.calendar .event{
  color: white;
  font-weight: bold;
  background-color: transparent;

  &:hover{
    > a{
      background-color: $gray-lighter;
    }
  }

  > a {
    background-color: $white;
    @include border-radius(50%);

    > span{
      display: inline-block;
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 1px;
      right: 1px;
      @include border-radius(50%);
    }
  }

  .popover{
    color: $text-color;
  }
}
.calendar .table td{
  padding: 1px 0;
  border-top: 0;
}
.calendar .table{
  margin-bottom: 3px;
  &.header{
    margin-bottom: $line-height-computed/2;
  }
}
.calendar .visualmonthyear {
  color: $gray-light;
}
.dropdown-menu .calendar td a {
  padding: 0px;
}

/**
 * Mapael
 */

.mapTooltip {
  position : fixed;
  padding : 2px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  background-color : #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  color: $text-color;
}

.zoomIn, .zoomOut {
  position: absolute;
  bottom: 10px;
  left : 10px;
  width: 20px;
  height: 20px;

  box-sizing: content-box;
  border: 1px solid #ccc;
  background-color: #fff;
  color: $text-color;
  line-height: 20px;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: $font-weight-bold;

  user-select: none;
}

.zoomOut {
  left: 36px;

}

.mapael{
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  .map {
    position:relative;
  }
  .stats{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}

// Checkbox

.table td > .abc-checkbox,
.table th > .abc-checkbox {
  > label:before,
  > label:after {
    margin-left: -16px;
  }
}

/***********************/
/* Part:Progress Stats */
/***********************/

.progress-stats{
  .name{
    margin-bottom: 2px;
  }
  .description{
    margin-bottom: 2px;
  }
  .status{
    margin-top: 15px;
  }

  @include media-breakpoint-down(lg) {
    .description + .progress{
      margin-bottom: 0;
    }
  }
}
.add_medicine{
    float: right;
    border: 1px solid #dd5826;
    background-color: #dd5826;
}
.add_medicine:focus, .add_medicine.focus,.add_medicine:hover,.add_medicine:active:focus{
    color: #fff;
   border: 1px solid #dd5826;
    background-color: #dd5826;
    outline: none;
}
.add_medtxt{
padding: 0px 43px 0px;
    font-size: 30px;
    color: $title-color;
    font-weight: 500;
}

.model_txt{
float: right;
    right: 0px;
    width: 400px;
}
.modal-body {
    position: relative;
    padding: 0px 45px 25px !important;
}

.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
    margin: 0px;
	}
  .modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
	border-bottom-color: transparent;
    background-color: transparent;
      padding: 15px 15px 11px 0px;
    border-bottom: none;
}
.close_txt{
font-size: 40px;
}
.Update {
  width: 172px;
  height: 17px;
 
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 172px;
  height: 40px;
  border-radius: 2px;
  background-color: #ff6d6d;
  border: solid 1px #ec6262;
}
.all_textboxtxt {


  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.radio_txt{
    padding-right: 30px;
}
.serch_txt{
   padding: 6px 10px;
    text-align: left;
    border-radius: 2px;
    border-width: 0px;
    border: 1px solid #ddd;
    text-align: left;
    width: 235px;
    height: 36px;
    
}
.serch_btn{
    background-color: #FF6D6D;
    border-color: #ca4d4d;
    border: 1px solid #ca4d4d;
}
.serch_btn:hover{
  background-color: #FF6D6D;
    border-color: #ca4d4d;
    border: 1px solid #ca4d4d;
}
.table_head .all_engage{
padding: 7px 0px 3px;
width: 132px;
 }
.bck_tabcol{
   background-color: #f7f9fd;
}
 .all_tableh{
    padding: 0px 0px 18px;
 }
 .all_week{
 width: 165px;
    padding-left: 0px;
    margin-left: 76px;
    padding: 6px 0px;
    color: #000;
    font-weight: 600;
 }
 .nextprv_txt .next_btn ul{
     list-style: none;
    float:right;
    padding-right: 0px;
 }
 .nextprv_txt .next_btn ul li{
 
   display: inline;
   float:left;
   
   padding: 0px 15px 0px 15px;
 }
 .nextprv_txt .next_btn ul .arrow_icon{
       font-size: 20px;
    font-weight: 400;
    padding: 5px 0px;
 }
 .nextprv_txt .next_btn ul .box_txticon{
     padding: 5px 15px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
 }
.nextprv_txt .show_txt p{
    color: #000;
    font-weight: 400;
    font-size: 12px;
}
.pdf_txt{
  margin-top: -4px;
}

@media only screen and (min-width: 320px) {
.serch_txt{
width: 175px;
}
.all_week{
margin-left: 0px;
margin-top: 8px;
}
.widget-body { overflow-x: scroll; }
th, td { min-width: 135px; }
.nextprv_txt .next_btn ul {
    list-style: none;
    float: left;
    padding-left: 0px;
}

.nextprv_txt .next_btn ul li {
    display: inline;
    float: left;
    padding: 0px 10px 0px 10px;
}
.nextprv_txt .next_btn ul .box_txticon {
    padding: 5px 12px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
}
}

    @media only screen and (min-width: 568px){
.serch_txt {
    width: 160px;
}
.widget-body { overflow-x: scroll; }
th, td { min-width: 200px; }
    }
    @media only screen and (min-width: 1100px) {
.serch_txt{
width: 181px;
}
.all_week{
margin-left: 76px;
margin-top: 0px;
}
.widget-body {
    overflow-x: inherit;
}
th, td {
    min-width: 0px;
}
.nextprv_txt .next_btn ul {
    list-style: none;
    float: right;
    padding-right: 0px;
}

.nextprv_txt .next_btn ul li {
    display: inline;
    float: left;
    padding: 0px 15px 0px 15px;
}
.nextprv_txt .next_btn ul .box_txticon {
    padding: 5px 15px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
}
     }

.orderId:not([href]):not([tabindex]){
color: #0000ff;
}
.orderId:not([href]):not([tabindex]):focus, .orderId:not([href]):not([tabindex]):hover{
color: #0000ff;
text-decoration: underline;
}
 .enter_error{
    color: #ff0000;
    padding-left: 21%;
    font-size: 15px;
    font-weight: 600;
  }

#enquirypopup .modal-dialog {
    width: 676px;
    padding: 0px ;
    position: relative;
}

#enquirypopup .modal-dialog {
    width: 676px;
    padding: 0px ;
    position: relative;
}
.digo_popuotxt{
    top:120px;
}
#enquirypopup .modal-dialog:before {
    content: '';
    height: 0px;
    width: 0px;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 121px;
    left: 1px;
    z-index: 99;
}

.custom-modal-header {
    text-align: center;
    color: #17b6bb;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 0px solid;
}

#enquirypopup .modal-dialog .close {
    z-index: 99999999;
    color: #000;
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    top: 4px;
    right: 10px;
    position: absolute;
    opacity: 1;
}

.custom-modal-header .modal-title {
    font-size: 18px;
        padding-left: 59px;
}

#enquirypopup .modal-dialog:after {
    content: '';
    height: 0px;
    width: 0px;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 121px;
    right: 1px;
    z-index: 999999;
}

.form-group {
    margin-bottom: 15px !important;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.reset_btn {
    float: right;
}
@media screen and (max-width:459px){
    .filter_txt select{
      width: 96px;
      padding: 6px 0px;
    }
    .reset_btn .reset_txt{
       display: none;
    }
    .reset_btn{
      width: auto;
    }
    .btn .glyphicon{
      right: 0;
    }
  }
  .serch_txt, .search_btn{
    width: 100%;
  }
  @media screen and (min-width:992px) and (max-width: 1017px){
    .filter_txt select{
      width: 125px;
    }
  }
  .refresh-btn{
    float: right;
    font-size: 16px;
    margin-top: 5px;
 }
@media screen and (min-width:992px) {
  .search-orders{
    margin-top: 8px !important;
   }
}
