.graph_txt {
    margin: 8px 8px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    //height: 500px!important;
}
.graph_txt h3 {
    padding-top: 14px;
}
.average_health {
    padding-bottom: 20px;
}
.state_map{
    height: 40px !important;
}
.filter_map{
    padding-left: 0px;
    padding-right: 0px;
}
