<div class="row template_upload">
    <div class="col-sm-12">
        <h1 class="page-title">Upload Users</h1>
    </div>

    <div class="col-sm-10">
        <div class="widget_updated">
            <form class="form-horizontal" role="form">
                <div class="emplate_upload">
                    <h4 class="upload_inventory">Onboard New Consumers</h4>
                    <a class="Update12 btn btn-primary" href="https://hsappimages.s3.ap-south-1.amazonaws.com/files/UserOnboardingTemplate.xlsx" target="_blank">DOWNLOAD TEMPLATE</a>
                    <p class="successfully_upload">Please download the user onboarding template provided in this page. Fill the Template with data. Upload the template by using the form below once you have updated the ussers information. </p>
                    <div class="form-group">
                        <input #userOnboardingFileUpload type="file" accept=".xls,.xlsx,.vcf" class="form-control" id="files" name="uploadfile" (change)="fileUpload($event)" />
                        <input class="Update submitbtm" type="button" value="Upload" (click)="onUploadButtonClick()">
                    </div>
                    <hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
                    <div *ngIf="hasCheckBoxValidation">
                        <label class="error_class">{{checkBoxValidationMessage}}</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<spinner-component></spinner-component>