.widget03 {
    margin-top: 15px;
}
.upload_inventory{
    margin: 0px;
    padding-bottom: 10px;
    color: #333333;
    font-size: 24px;
    display: inline-block;
}
.template_upload{
    padding-left: 14px;
}
.widget_updated{
    position: relative;
    margin-bottom: 45px;
    padding: 25px 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.error_class{
    color:#ff6d6d;
}
.Update {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    line-height: 1.43;
    color: #ffffff;
    padding: 8px 30px;
    text-transform: uppercase;
    color: #fff !important;
    margin-top: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px #f06363;
    background-color: #ff6d6d;
}
.Update12 {
    font-size: 12px;
    font-weight: 600;
    float: right;
    line-height: 2.17;
    padding: 0px 15px;
    text-transform: uppercase;
    border-radius: 17.5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px #0d99a4;
    background-color: #14a9b5;
}
.Update12 a{
    color: #fff;
    text-decoration: none;
}
.successfully_upload{
    width: 70%;
    text-align: left;
    margin-bottom: 25px;
    font-size: 14px;
    color: #5b5b5b;
    line-height: 22px;
}
.form-control {
    width: auto;
    padding: 5px;
    display: inline-block;
}
@media screen and (max-width: 420px) {
    .form-control {
        max-width: 215px;
    }
}