//////////////////
.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}
.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
.schedule_txt {
  margin-bottom: 0px !important;
  font-size: 11px;
}

////////////////

.processid_text p {
  font-size: 16px;
  color: #14a9b5;
  font-weight: 500;
}
.processid_text h2 {
  color: #11a9b5;
}
.remarks {
  font-size: 15px;
  font-weight: 800;
}
.newadd_process {
  position: relative;
  margin-bottom: 35px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 0.2rem;
  margin-top: 10px;
}
.newadd_processcroll {
  max-height: 250px;
  overflow: auto;
}
.newadd_process .patient_txt h4 {
  font-size: 21px;
}
.arrprove_pending h4,
.arrprove_pending p,
.arrprove_pending h2 {
  color: hsla(0, 0%, 0%, 0.93);
  margin-top: 0px;
  margin-bottom: 0px;
}
.prescription_padding {
  padding-left: 0px;
}
.reject_btn {
  background-color: #ff6d6d;
  border-color: #ff6d6d;
  color: #fff;
  float: right;
  font-size: 15px;
  font-weight: 600;
}
.process_txt p {
  margin-bottom: 0px;
}
.process_txt h4 {
  margin: 0px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 21px;
}
.prescription_jpg h4 {
  color: #11a9b5;
}
.process_widget {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 0.2rem;
  border: 2px solid #e6e6e6 !important;
}
.process_widget .table tbody tr td {
  max-width: initial !important;
}
.prescription_scroll {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 180px;
  margin-top: 25px;
}

.table_process {
  padding: 0px !important;
}
.process_widget .table {
  margin-bottom: 0px;
}

.processdone_txt {
  background-color: #1dc8d5;
  border-color: #1dc8d5;
}
.processbotton_txt {
  padding: 5px 25px;
  font-size: 18px;
  border-radius: 0px;
  border: none;
  color: #fff;
}
.process_padding {
  padding: 0px;
}
.process_form .from_txt {
  width: 400px;
}
.process_form .from_txt,
.process_form .processsubmit_txt {
  float: right;
}
.process_form .total_txt {
  font-weight: 500;
}
.rate_subtxt {
  line-height: 20px !important;
}
.process_original {
  line-height: 45px;
}
.processsubmit_txt,
.processsubmit_txt1 {
  background-color: #dd5826;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 15px;
  font-weight: 500;
}
.process_form .processsubmit_txt1 {
  float: left;
}
.edit_process {
  padding-top: 20px;
}
.panding_approvetxt h2 {
  font-size: 20px;
}
.panding_approvetxt p {
  color: rgba(255, 0, 0, 0.85);
}
.processsubmit_panding {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.41);
  cursor: inherit;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 15px;
  font-weight: 500;
}
.custom-modal-header h4 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}
.custom-modal-header {
  border-bottom: transparent;
}
.popupimage_txt {
  width: 100%;
  height: 330px;
}
.modal-body .reject_ordertxt {
  margin-top: 0px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 5px;
}
.reason_remark {
  padding-top: 15px;
}
.reason_remark .reason_txt {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
}
.reason_remark input,
.reason_remark textarea {
  width: 100% !important;
}
.reject_buttontxt {
  background-color: #ff6d6d;
  border-color: #ff6d6d;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}
.custom-modal-header,
.enquery_txt,
.description_text,
.body_rejecttxt,
.image_sliderpop {
  width: 100% !important;
}
.submit_textenquery {
  margin-top: 10px;
}
.slider_close {
  font-size: 30px;
  color: #000;
}
.fa-angle-left:before,
.fa-angle-right:before {
  display: none;
}
.image_clickpopup {
  height: 175px;
  cursor: pointer;
  object-fit: contain;
}
.image_clickpdf {
  width: auto;
  height: auto;
  cursor: pointer;
}

.download_imagetxt {
  padding: 10px 15px;
  background-color: #214d8d;
  color: #fff;
  float: right;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 18px;
}
.rx_icontxt {
  top: -10px;
  left: 5px;
}

@media only screen and (max-width: 575px) {
  .process_form .from_txt {
    width: 300px;
  }
}

@media screen and (max-width: 340px) {
  .process_form .from_txt {
    width: 280px;
  }
}

@media screen and (max-width: 600px) {
  .process_widget {
    border: none !important;
  }
}
