<div class="table_size">

    <!-- <h2 class="brand_list_title">Edit Profile</h2>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="progress_indicator_wrapper">
            <a routerLink="/app/master/employee/employeepersonaldetails/" class="progress_indicator">
                <span class="ic_progress past"></span>Personal Details</a>
            <a routerLink="/app/master/employee/employeeprofessionaldetails/" class="progress_indicator active"
                *ngIf="doctorDetail.type==0  || doctorDetail.type==1">
                <span class="ic_progress present"></span>Professional Details</a>
            <a class="progress_indicator">
                <span class="ic_progress future"></span>POC And Roles</a>
            <a class="progress_indicator">
                <span class="ic_progress future"></span>Participate Details</a>
            <a class="progress_indicator">
                <span class="ic_progress future"></span>Location Mapping</a>
            <div class="clearfix"></div>
        </div>
    </div> -->
    <br />
    <h5 class="list_title3">Professional Details</h5>
    <div class="row contact_add2">
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label" for="name">Qualification
                    <sup class="sgst_txt">*</sup>
                </label>
                <input name="Qualification" type="text" placeholder="Enter Qualification "
                    [(ngModel)]="doctorDetail.qualificationName" class="form-control input-md">
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Experience
                    <sup class="sgst_txt">*</sup>
                </label>
                <input name="Experience" type="text" placeholder="Enter Experience"
                    [(ngModel)]="doctorDetail.experience" class="form-control input-md"
                    (keypress)="validateNumberInputOnly($event)" (keydown)="validatecopyPast($event)"
                    onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false"
                    onDrop="return false">
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Registration Number</label>
                <input name="RegistrationNumber" type="text" placeholder="Enter Registration Number"
                    [(ngModel)]="doctorDetail.registrationNumber" class="form-control input-md">
            </div>
            <div class="form-group">
                <label class="control-label" for="name">Description
                    <!-- <sup class="sgst_txt">*</sup> -->
                </label>
                <input name="Description" type="text" placeholder="Enter Your Description"
                    [(ngModel)]="doctorDetail.description" class="form-control input-md">
            </div>
            <div class="form-group">
                <label><input type="checkbox" [(ngModel)]="doctorDetail.digitizationQueueEnabled"
                        [checked]="doctorDetail.digitizationQueueEnabled"
                        value="doctorDetail.digitizationQueueEnabled">&nbsp;Enable digitization for uploaded
                    prescription</label>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="form-group">
                <label><input type="checkbox" [(ngModel)]="doctorDetail.sendDigitizedPrescriptionOnly"
                        [checked]="doctorDetail.sendDigitizedPrescriptionOnly"
                        value="doctorDetail.sendDigitizedPrescriptionOnly">&nbsp;Send digitized prescription
                    only</label>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <section class="widget_emp" widget="">
                <div class="row">

                    <div class="col-md-3 col-sm-3 col-xs-3" *ngIf="this.doctorDetail.imageUrl!=undefined">
                        <img [src]="this.doctorDetail.imageUrl" class="employee_img2">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3"
                        *ngIf="this.doctorDetail.gender=='Male' && this.doctorDetail.imageUrl==undefined">
                        <img alt="..." class="employee_img2" src="assets/img/default-avatar-male.png">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3"
                        *ngIf="this.doctorDetail.gender=='Female' && this.doctorDetail.imageUrl==undefined">
                        <img alt="..." class="employee_img2" src="assets/img/default-avatar-female.png">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3"
                        *ngIf="this.doctorDetail.gender=='Others' && this.doctorDetail.imageUrl==undefined">
                        <img alt="..." class="employee_img2" src="assets/img/default-avatar-others.png">
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <p class="prinston_txt2">{{doctorDetail.title}} {{doctorDetail.firstName}}
                            {{doctorDetail.lastName?doctorDetail.lastName:''}}</p>
                        <p class="serial_number2" *ngIf="doctorDetail.type==0">Employee Type:Doctor</p>
                        <p class="serial_number2" *ngIf="doctorDetail.type==1">Employee Type:Expert</p>
                        <p class="serial_number2" *ngIf="doctorDetail.type==2">Employee Type:App User</p>
                        <p class="serial_number2" *ngIf="doctorDetail.type==3">Employee Type:Other</p>
                        <p class="serial_number2">Mobile:{{ doctorDetail.contactList}}</p>
                        <p class="serial_number2">Gender:{{doctorDetail.gender}}</p>
                        <p class="serial_number2">Languages:</p>
                        <span *ngFor="let langList of doctorDetail.languages; let i =index;">
                            {{langList.name}}{{doctorDetail.languages.length-1!=i?', ':''}}</span>
                        <p class="serial_number2">Email: {{doctorDetail.emailId}}</p>
                    </div>

                </div>
            </section>
        </div>
    </div>
    <h5 class="list_title3">Add Speciality
        <sup class="sgst_txt">*</sup>
        <a>
            <i aria-hidden="true" class="fa fa-plus addtxt_icon2" data-toggle="modal"
                data-target=".bde-example-modal-lh" (click)=" getspecialities()"></i>
        </a>
    </h5>
    <div class="row contact_add2">
        <div class="col-md-5">
            <div *ngIf="serviceList!=undefined || serviceList == undefined">
                <h6 *ngFor="let item of serviceList">{{item.serviceName}}</h6>
            </div>
        </div>

    </div>

















    <!-- <h5 class="list_title3" *ngIf="this.doctorDetail.empId!=null">LIST OF PACKAGES</h5>
    <h3 *ngFor="let data of packagesList">{{data.pocName}}</h3> -->
    <!-- <div *ngIf="doctorDetail.participationData.participateHSPackages"> -->
    <!-- <div *ngIf="pocpackages.packageNameList!=undefined" >
            
        </div> -->
    <!-- <h6 *ngFor="let item of packagesList">{{item.packageNameList}}</h6> -->
    <!-- </div> -->

    <!--<div class="col-md-5 col-sm-5 col-xs-5">
        <p class="serial_number2">6.2 Years</p>
        <p class="serial_number2">Mobile:9876543321</p>
        <p class="serial_number2">Gender:Male</p>
        <p class="serial_number2">Email: sadadafsadffsadsa.edu.in</p>

    </div>-->

    <div class="col-md-12">
        <div class="form-group">
            <button id="singlebutton" name="singlebutton" class="btn  Update" (click)="onEmployeeRole()">NEXT:POC And
                Roles</button>
        </div>
    </div>
    <hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>

</div>
<!-- Large modal -->

<div class="modal fade bde-example-modal-lh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 class="modal-title">Service List</h3>
            </div>
            <div class="modal-body">
                <!-- BEGIN PRODUCTS -->
                <div class="row ">
                    <!-- <div class="col-md-3 col-sm-6 update_packages "
                        *ngFor="let selected of getSpecialityList;let i=index">
                        <label class="checkbox-inline package_checkbox">
                            <input type="checkbox" class="service_checked" name="testCheckBox"
                                (click)="onValueCheckedd(selected)" id={{selected.id}} name={{i}}>
                            <label class="" for={{selected.id}}>{{selected.text}}</label>
                        </label>
                    </div> -->
                    <div class="col-lg-3 col-md-4 col-sm-6 custom_chk"
                        *ngFor="let selected of getSpecialityList;let i=index">
                        <input type="checkbox" id={{selected.id}} name={{i}} (click)="onValueCheckedd(selected)" />
                        <label for={{selected.id}}>{{selected.text}}</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                </div>

            </div>
        </div>
    </div>
</div>