.select-city {
    width: 80%;
    max-width: 350px;
}
.Update12 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background-color: #ff6d6d;
    border: solid 1px #ec6262;
    padding: 5px 30px;
    text-transform: uppercase;
    color: #fff !important;
    float: right;
}
.diagnostic_schedulelocwidget .table {
    margin-bottom: 0;
}