<div class="table_size">
  <h1 class="page-title order_txt">Search Consumer</h1>
  <h5 class="order_txt">Enter the consumer's mobile number</h5>
  <div class="row all_tableh">
    <div class="col-md-11 col-sm-12 col-xs-12">
      <form action="#" method="post" class="form" role="form" #searchForm="ngForm">
        <input type="text" id="searchBox" name="mobile" #mobile (keypress)="validation.onlyNumbers($event)"
          class="serch_txt1 mr-1" placeholder="Enter Consumer Number" minlength="10" maxlength="10" />
        <button type="submit" class="Update" value="SEARCH" role="button"
          (click)="getProfileSearchByMobile(mobile.value)">
          SEARCH
        </button>
        <button type="button" class="download" role="button" (click)="openModal('#downloadModal')">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Download Users
        </button>
      </form>
    </div>
    <div *ngIf="isLength" class="errMsg">
      {{mobileValidation}}
    </div>
  </div>

  <div id="registration">
    <p class="aftersearch">We couldn't find a match for your query</p>
    <p class="aftersearch">You can register new user using the form below.</p>
    <!-- registration html start here-->

    <div>
      <h4 class="order_txt">New Consumer Registrations</h4>
      <div class="row">
        <div class=" col-md-6">
          <form method="post" class="form" role="form" #registerForm="ngForm">
            <div class="row">
              <label for="strength" class="col-xs-6 col-md-6">
                <b>Title</b>
                <sup class="sgst_txt">*</sup>
              </label>
              <select class="form-control" [disabled]="hasTitle" (change)="onTitleChange($event.target.value)"
                [value]="registerUser.title">
                <option value="undefined">select Title</option>
                <option *ngFor="let title of titlesList;let i = index" [value]="title">{{title}}.
                </option>
              </select>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-6">
                <label>First Name</label>
                <input class="form-control" name="firstname" placeholder="First Name" type="text" required autofocus
                  [(ngModel)]="registerUser.fName" />
              </div>
              <div class="col-xs-6 col-md-6">
                <label>Last Name</label>
                <input class="form-control" name="lastname" placeholder="Last Name" type="text"
                  [(ngModel)]="registerUser.lName" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <p>What is your age ?</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <label><input class="" name="dob" type="radio" [checked]="isDOB" (change)="checkAgeSelection(0)" />
                  Date of Birth</label>
              </div>
              <div class="col-xs-6 col-md-6">
                <label><input class="" name="dob" type="radio" [checked]="isAge" (change)="checkAgeSelection(1)" />
                  Age</label>
              </div>
            </div>
            <div class="row" *ngIf="isAge">
              <br />

              <div class="col-md-6">
                <input type="text" maxlength="3" (keypress)="validation.onlyNumbers($event)"
                  class="form-control ageBox width-100 mr-1" required placeholder="Years" name="anameyear"
                  id="anameyear" [(ngModel)]="ageYears" [disabled]="isAge1" (keypress)="validation.onlyNumbers($event)"
                  (keyup)="checkAgeYearvalidation(ageYears)" />Years
              </div>
              <div class="col-md-6">
                <input type="text" maxlength="2" (keypress)="validation.onlyNumbers($event)"
                  class="form-control ageBox width-100 mr-1" required placeholder="Months" name="anamemon" id="anamemon"
                  [(ngModel)]="ageMonths" [disabled]="isAge1" (keypress)="validation.onlyNumbers($event)"
                  (keyup)="checkAgeMonthvalidation(ageMonths)" />Months
              </div>
            </div>
            <div class="row" *ngIf="isDOB">
              <div class="col-xs-5 col-md-5">
                <div class="form-group">
                  <label class="dobText"><b>Date of Birth</b></label><br />
                  <datetime required [(value)]="memberDate" name="datepicker" id="datepicker"
                    [datepicker]="datepickerOpts" [timepicker]="false"></datetime>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group gender_inline">
                <label class="col-sm-12 control-label gender_txt"><b>Gender</b></label>
                <div class="col-sm-12">
                  <label class="input_label">
                    <input type="radio" #gender="ngModel" name="gender" class="male" value="Male"
                      [(ngModel)]="registerUser.gender" [checked]="registerUser.gender == 'Male' ? 'true':'false'"
                      (click)="onGenderSelect()" />
                    <span class="input_gender input_male"></span>
                    <span class="text-center gender male">Male</span>
                  </label>
                  <label class="input_label">
                    <input type="radio" #gender="ngModel" name="gender" class="female" value="Female"
                      [(ngModel)]="registerUser.gender" [checked]="registerUser.gender == 'Female' ? 'true':'false'"
                      (click)="onGenderSelect()" />
                    <span class="input_gender input_female"></span>
                    <span class="text-center gender female">Female</span>
                  </label>
                  <label class="input_label">
                    <input type="radio" #gender="ngModel" name="gender" class="others" value="Others"
                      [(ngModel)]="registerUser.gender" [checked]="registerUser.gender == 'Others' ? 'true':'false'"
                      (click)="onGenderSelect()" />
                    <span class="input_gender input_others"></span>
                    <span class="text-center gender others">Others</span>
                  </label>
                </div>
              </div>
            </div>
            <label>Email </label>
            <input class="form-control" name="youremail" placeholder="Your Email" type="email"
              [(ngModel)]="registerUser.contactInfo.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              [disabled]="!isActive" />
            <label>Mobile Number *</label>
            <input type="text" class="form-control" id="contact" name="contact" required placeholder="Your Mobile No"
              [(ngModel)]="registerUser.contactInfo.mobile" (keypress)="_keyPress($event)" minlength="10" maxlength="10"
              #contact [disabled]="!isActive" />
            <label>Referral Code</label>
            <input type="text" class="form-control" name="referralCode" [(ngModel)]="registerUser.referralCode"
              placeholder="Enter Referral Code (if any)" maxlength="15"
              (keypress)="validation.noSpecialCharacters($event)" />
            <label>Employer Name</label>
            <input type="text" class="form-control" name="employerName" [(ngModel)]="registerUser.employerName"
              placeholder="Enter Employer Name" maxlength="30" (keypress)="validation.onlyAlphabetsWithSpace($event)" />
            <label>Employee Id</label>
            <input type="text" class="form-control" name="consumerEmployeeId"
              [(ngModel)]="registerUser.consumerEmployeeId" placeholder="Enter Employee Id" maxlength="15"
              (keypress)="validation.noSpecialCharacters($event)" />

            <div class="form-group" *ngIf="isEnterOtp  && isSent  ">
              <label for="price" class="all_textboxtxt">Enter OTP</label>
              <input type="text" required class="form-control" placeholder="Enter OTP" name="pname" id="pname"
                minlength="6" maxlength="6" [(ngModel)]="registerUser.otpNumber" />
              <a class="resendOTPleft" (click)="generateOtp(0,0,0)"><label name="resend" id="resendotp"
                  class="all_textboxtxt">Send OTP via SMS</label></a>
              <a class="resendOTPright" (click)="generateOtp(0,0,1)"><label name="resend" id="resendotp"
                  class="all_textboxtxt">Send OTP via Call</label></a>
            </div>
            <!--<div *ngIf="isActive">-->
            <div class="errorMessage">{{responseMsg}}</div>
            <!-- <button type="submit" name="generate" 
                            id="generate" class="Update" role="button" 
                            (click)="generateOtp(1, registerForm.valid, 0)">
                            Generate Otp
                        </button>
                        <div *ngIf="(isEnterOtp && isSent)"> -->
            <input type="submit" class="Update register_btn" value="REGISTER NEW USER" role="button"
              (click)="registerNewUser()" />
            <!-- </div> -->
            <!--</div>-->
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- registration html end here-->

  <!-- consumer list start here -->
  <div class="table_size" id="consumerList">
    <div class="row">
      <div class="col-md-9 col-sm-6 col-xs-12 perscripton_txt"></div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <!--<button type="submit" class="button_addtxt" value="Add Medicine" (click)="add()"> <i class="fa fa-plus add_txt" aria-hidden="true"></i>  Add Medicine</button>-->
        <button type="submit" class="button_addtxt add_medicine" value="Add Member" role="button"
          (click)="onaddfamily()">
          <i class="fa fa-plus add_txt" aria-hidden="true"></i>Add Member
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <section class="widget table_pading onboarding_widget" widget>
          <div class="widget-body">
            <div class="table-responsive table-datalabel">
              <table class="table">
                <thead>
                  <tr class="table_head">
                    <th class="">Consumer Name</th>
                    <th class="">Gender</th>
                    <th>Age</th>
                    <th class="">Relation</th>
                    <th>Mobile</th>
                    <th>Profile Status</th>
                    <th>Edit/Update</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of registeredPeopleList | slice:((indexOfPage - 1) * noOfReportsPerPage ):( indexOfPage * noOfReportsPerPage) ;let i = index">
                    <td data-label="Consumer Name">
                      <div class="tabledatalabel-right">
                        {{(item.title?item.title+". ":'')+item.fName+"
                        "+(item.lName?item.lName:'') }}
                      </div>
                    </td>

                    <td data-label="Gender">
                      <div class="tabledatalabel-right">{{item.gender}}</div>
                    </td>

                    <td data-label="Age">
                      <div class="tabledatalabel-right">
                        {{common.getAgeForall(item.dob)}}
                      </div>
                    </td>
                    <td data-label="Relation">
                      <div class="tabledatalabel-right">
                        <!--it has to be changed-->
                        <span class="brand-txt" *ngIf="item.relationShip==0">
                          Self
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==1">
                          Spouse
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==2">
                          Mother
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==3">
                          Father
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==4">
                          Daughter
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==5">
                          Son
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==6">
                          Mother-in-law
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==7">
                          Father-in-law
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==8">
                          Siblings
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==9">
                          GrandMother
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==10">
                          GrandFather
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==11">
                          Daughter-inLaw
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==12">
                          Son-inLaw
                        </span>
                        <span class="brand-txt" *ngIf="item.relationShip==13">
                          Others
                        </span>
                        <!--{{item.gender}}-->
                      </div>
                    </td>
                    <td data-label="Mobile">
                      <div class="tabledatalabel-right">
                        <span class="brand-txt" *ngIf="item.contactInfo!=undefined">
                          {{item.contactInfo.mobile}}
                        </span>
                      </div>
                    </td>
                    <td data-label="Profile Status">
                      <div class="tabledatalabel-right">
                        <span class="brand-txt"
                          *ngIf="item.phrCompletionType==2 && item.physicalCompletionType==2 && item.labTestCompletionType==2">Complete
                        </span>
                        <span class="brand-txt"
                          *ngIf="item.phrCompletionType==1 ||item.phrCompletionType==0 || item.physicalCompletionType==1 || item.physicalCompletionType==0 || item.labTestCompletionType==1 ||item.labTestCompletionType==0">
                          Incomplete</span>
                      </div>
                    </td>
                    <td data-label="Edit/Update">
                      <div class="tabledatalabel-right">
                        <div
                          *ngIf="!(item.dob == undefined || item.dob == null || item.gender == undefined || item.dob == null || item.gender == '')">
                          <span class="brand-txt" *ngIf="item.onboardingStatus==1">
                            <button type="button" *ngIf="item.phrCompletionType==2" class="btn btn-success btn-xs"
                              (click)="onpersonal(item.profileId)">
                              PHR
                            </button>
                            <button type="button" *ngIf="item.phrCompletionType==1" class="btn btn-info btn-xs"
                              (click)="onpersonal(item.profileId)">
                              PHR
                            </button>
                            <button type="button" *ngIf="item.phrCompletionType==0" class="btn btn-danger btn-xs"
                              (click)="onpersonal(item.profileId)">
                              PHR
                            </button>

                            <button type="button" *ngIf="item.physicalCompletionType==2" class="btn btn-success btn-xs"
                              (click)="onphysical(item.profileId)">
                              PHYSICALS
                            </button>
                            <button type="button" *ngIf="item.physicalCompletionType==1" class="btn btn-info btn-xs"
                              (click)="onphysical(item.profileId)">
                              PHYSICALS
                            </button>
                            <button type="button" *ngIf="item.physicalCompletionType==0" class="btn btn-danger btn-xs"
                              (click)="onphysical(item.profileId)">
                              PHYSICALS
                            </button>

                            <button type="button" *ngIf="item.labTestCompletionType==2" class="btn btn-success btn-xs"
                              (click)="onupdatelab(item.profileId)">
                              LAB REPORT
                            </button>
                            <button type="button" *ngIf="item.labTestCompletionType==1" class="btn btn-info btn-xs"
                              (click)="onupdatelab(item.profileId)">
                              LAB REPORT
                            </button>
                            <button type="button" *ngIf="item.labTestCompletionType==0" class="btn btn-danger btn-xs"
                              (click)="onupdatelab(item.profileId)">
                              LAB REPORT
                            </button>
                          </span>
                          <span *ngIf="item.onboardingStatus!=1">
                            <button type="button" class="btn btn-danger btn-xs" (click)="getOnboardingType(item)">
                              ONBOARD USER
                            </button>
                          </span>
                        </div>
                        <div
                          *ngIf="item.dob == undefined || item.dob == null || item.gender == undefined || item.dob == null || item.gender == ''">
                          <button type="button" class="btn btn-danger btn-xs" (click)="updateProfile(item)">
                            UPDATE PROFILE
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <nav aria-label="Page navigation pull-right" *ngIf="registeredProfileList.length>noOfReportsPerPage">
          <ul class="pagination pull-right">
            <li class="page-item" *ngIf="indexOfPage!=1" [class.disabled]="indexOfPage==1">
              <a class="page-link" tabindex="-1" (click)="changePageIndex(indexOfPage-1)">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link" [class.currentPage]="indexOfPage==(i+1)"
                *ngFor="let j of getNumberOfPages();let i=index" (click)="changePageIndex(i+1)">
                {{i+1}}
              </a>
            </li>
            <li class="page-item" *ngIf="indexOfPage!=(getNumberOfPages().length)"
              [class.disabled]="indexOfPage==(getNumberOfPages().length)">
              <a class="page-link" (click)="changePageIndex(indexOfPage+1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- consumer list end here -->

  <!--popup code start here-->

  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog model_txt onboardtype-popup" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="close_txt" aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title add_medtxt" id="myModalLabel">Onboard Type</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group text-line">
              <h4 class="step_title" id="showForCustom5">Step 1</h4>
              <label for="Medicine" class="all_textboxtxt">Select the Onboarding Type :</label>
              <select id="onBoarding" class="form-control1" [(ngModel)]="sendTest" (change)="sendOnboardingType()"
                name="sendTest">
                <option value="0">Select Type</option>
                <option *ngFor="let test of onboardingTypeResponse" [ngValue]="test">{{test.name}}
                </option>
              </select>
              <br />
              <!-- <label for="Medicine" class="all_textboxtxt">Search Doctor</label> -->
              <div class="col-md-7" style="margin-left:-15px">
                <!-- <hs-select [defaultSelectLabel]="'Enter Doctor Name'" [selectColumns]="selectColumns" [defaultSelected]="selectedDoctorDetails" [defaultSelectField]="'firstName lastName'" [selectTotal]="doctorSelectTotal" [selectResults]="doctorListSearchResults" (searchTrigger)="doctorSearchTrigger($event)"
                                    (selectTrigger)="selectedDoctor($event)"></hs-select> -->
                <doctor-search (doctorListSearchEvent)="setSelectedDoctorDetails($event)" [pocId]="pocId"
                  [empId]="empId" [city]="city"></doctor-search>
              </div>
            </div>
            <div>
              <ul>
                <li *ngFor="let test of showTests">{{test.name}}</li>
              </ul>
            </div>

            <div class="form-group text-line" id="showForCustom1" style="display:none">
              <h4 class="step_title">Step 1</h4>
              <div class="row">
                <div class="col-md-6">
                  <label for="Medicine" class="all_textboxtxt">Select the Onboarding Type :</label>
                  <select class="form-control" name="sendDefinedPackage" [(ngModel)]="sendDefinedPackage"
                    (change)="sendDefinedPackagesType()">
                    <option *ngFor="let test of onboardingCustomTypePackage" [ngValue]="test">
                      {{test.name}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="Medicine" class="all_textboxtxt">Price ({{currencyCode}})</label>
                  <input type="number" name="price" [(ngModel)]="onboardingType.amount" class="form-control"
                    placeholder="Enter Payable Amount" min="0" oninput="validity.valid||(value='');" step="0.01" />
                </div>
              </div>
            </div>

            <div class="form-group text-line" id="showForCustom2" style="display:none">
              <h4 class="step_title">Step 2</h4>
              <h5>Edit Lab Test</h5>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <label class="labtest_txt" *ngFor="let onboardTest of onboardingType.tests">
                    <input type="checkbox" name="testCheckBox" id="{{onboardTest.id}}"
                      (click)="selectTests(onboardTest)" />{{onboardTest.name}}
                  </label>
                  <br />
                </div>
              </div>
            </div>

            <div class="form-group text-line" id="showForCustom3" style="display:none">
              <h4 class="step_title">Step 3</h4>
              <h5>Add a New Test</h5>
              <div class="row">
                <div class="col-md-5">
                  <input id="search-box" name="testsearch" type="text" [(ngModel)]="testName"
                    (keyup)="searchforTests(testName)" class="form-control" placeholder="Test Name" list="list" />
                  <datalist id="list">
                    <option *ngFor="let search of searchedTests">{{search.serviceName}}</option>
                  </datalist>
                </div>
                <div class="col-md-5">
                  <input id="unit-box" type="text" name="unit" [(ngModel)]="unit" class="form-control"
                    placeholder="Unit" />
                </div>
                <div class="col-md-2">
                  <input type="submit" class="add" value="ADD" (click)="getTestId(testName,unit)" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 customTests" *ngFor="let tests of onboardingCustomPackage.customTests">
                  {{tests.name}}
                  <span class="removeTest" (click)="removeTest(tests)">x</span>
                </div>
              </div>
            </div>

            <div class="form-group text-line">
              <h4 class="step_title" id="showForCustom4" style="display:none">
                Step 4
              </h4>
              <h4 class="step_title" id="showForCustom5">Step 2</h4>

              <label for="Medicine" id="showForCustom6" class="all_textboxtxt" style="display:none">Name this Custom
                Onboarding</label>
              <input type="text" id="showForCustom7" class="form-control" name="customPackageName"
                [(ngModel)]="customPackageName" placeholder="Test Name" style="display:none" />
              <label for="Medicine" class="all_textboxtxt">Total Payable Amount ({{currencyCode}})</label>
              <input type="number" class="form-control" required name="payableAmount"
                [(ngModel)]="this.onboardingCustomPackage.amount" placeholder="Enter Payable Amount" min="0"
                oninput="validity.valid||(value='');" step="0.01" />
              <label for="Medicine" class="all_textboxtxt">Mode of payment</label>
              <select id="modeOfPayment" class="form-control" name="modeOfPayment"
                [(ngModel)]="this.onboardingCustomPackage.modeOfPayment">
                <!-- <option value="0">Select Payment Options</option> -->
                <option value="2" selected>Cash</option>
                <option value="1">Card</option>
              </select>
            </div>

            <div class="errMsg">{{errorMessage}}</div>
            <input type="submit" class="Update" value="CONTINUE" (click)="insertTestForPOC()" />
            <br />
            <br />
          </form>
        </div>
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- popup code end here -->

  <!--model popup patientregistration start here -->
  <div class="modal fade" id="updateProfile" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
          <h4 class="modal-title">Update Profile</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" (ngSubmit)="UpdateUsersProfile(registerUser)">
            <!-- <div class="form-group">
                            <label for="strength" class="col-sm-4 control-label">
                                <b>Title</b>
                                <sup class="sgst_txt">*</sup>
                            </label>
                            <select class="form-control" [disabled]="hasTitle"
                                (change)="onTitleChange($event.target.value)" [value]="selfRegistered.title">
                                <option value="undefined">select Title</option>
                                <option value="Mr">Mr.</option>
                                <option value="Miss">Miss.</option>
                                <option value="Mrs">Mrs.</option>
                                <option value="Master">Master.</option>
                                <option value="Baby">Baby.</option>
                                <option value="Baby of">Baby of.</option>
                                <option value="Baby Boy">Baby Boy.</option>
                                <option value="Baby Girl">Baby Girl.</option>
                                <option value="Dr">Dr.</option>
                                <option value="Prof">Prof.</option>
                                <option value="Capt">Capt.</option>
                            </select>
                        </div> -->
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">First Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="fname" [(ngModel)]="registerUser.fName" id="inputEmail3"
                  placeholder="First Name" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="lname" [(ngModel)]="registerUser.lName" id="inputEmail3"
                  placeholder="Last Name" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="email" [(ngModel)]="registerUser.contactInfo.email"
                  id="inputEmail3" placeholder="Email" />
              </div>
            </div>
            <div class="row updateP">
              <div class="col-xs-4 col-md-4">
                <label><input class="" name="dob" type="radio" [checked]="isDOB" (change)="checkAgeSelection(0)" />
                  Date of Birth</label>
              </div>
              <div class="col-xs-2 col-md-2">
                <label><input class="" name="dob" type="radio" [checked]="isAge" (change)="checkAgeSelection(1)" />
                  Age</label>
              </div>
            </div>
            <div class="row updateP" *ngIf="isAge">
              <br />

              <div class="col-xs-3 col-md-3">
                <input class="form-control" maxlength="3" [(ngModel)]="ageYears" name="years" type="text"
                  placeholder="Enter Years" [disabled]="isAge1" (keypress)="validation.onlyNumbers($event)"
                  (keyup)="checkAgeYearvalidation(ageYears)" />
              </div>
              <div class="col-xs-1 col-md-1">
                <label class="agelabels">Years</label>
              </div>

              <div class="col-xs-3 col-md-3">
                <input class="form-control" maxlength="2" [(ngModel)]="ageMonths" name="months" type="text"
                  placeholder="Enter Months" [disabled]="isAge1" (keypress)="validation.onlyNumbers($event)"
                  (keyup)="checkAgeMonthvalidation(ageMonths)" />
              </div>
              <div class="col-xs-2 col-md-2">
                <label class="agelabels">Months</label>
              </div>
            </div>
            <div class="row updateP" *ngIf="isDOB">
              <div class="col-xs-5 col-md-5">
                <div class="form-group">
                  <label class="dobText"><b>Date of Birth</b></label><br />
                  <datetime [(value)]="memberDate" name="datepicker" id="datepicker" [datepicker]="datepickerOpts"
                    [timepicker]="false"></datetime>
                </div>
              </div>
            </div>
            <div class="form-group gender_inline updateG">
              <label class="col-sm-12 control-label gender_txt"><b>Gender</b></label>
              <label class="input_label">
                <input type="radio" #gender="ngModel" name="gender" class="male" value="Male"
                  [(ngModel)]="registerUser.gender" [checked]="registerUser.gender == 'Male' ? 'true':'false'"
                  (click)="onGenderSelect()" />
                <span class="input_gender input_male"></span>
                <span class="text-center gender male">Male</span>
              </label>
              <label class="input_label">
                <input type="radio" #gender="ngModel" name="gender" class="female" value="Female"
                  [(ngModel)]="registerUser.gender" [checked]="registerUser.gender == 'Female' ? 'true':'false'"
                  (click)="onGenderSelect()" />
                <span class="input_gender input_female"></span>
                <span class="text-center gender female">Female</span>
              </label>
              <label class="input_label">
                <input type="radio" #gender="ngModel" name="gender" class="others" value="Others"
                  [(ngModel)]="registerUser.gender" [checked]="registerUser.gender == 'Others' ? 'true':'false'"
                  (click)="onGenderSelect()" />
                <span class="input_gender input_others"></span>
                <span class="text-center gender others">Others</span>
              </label>
            </div>
            <div class="errMsg">
              {{userErrorMsg}}
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title order_txt">Download Users</h4>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="downloadUsers(fromDate,toDate)">
            <div class="row">
              <div class="col-md-12">From-Date</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <datetime name="fromDate" [(value)]="fromDate" id="datepicker" [datepicker]="datepickerFromDate"
                  [timepicker]="false"></datetime>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">To-Date</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <datetime name="toDate" [(value)]="toDate" id="datepicker2" [datepicker]="datepickertoDate"
                  [timepicker]="false"></datetime>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 errorMessage">{{downloadMessage}}</div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button type="submit" class="download downloadusers">
                  Download Users
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" style=" overflow-y: auto !important" id="printPDFWizardModel" tabindex="-1" role="dialog"
  aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body row" style="text-align: center;height: 50px;">
        <div class="col-md-6 col-xs-6">
          <button type="button" class="btn " style="width:100px;margin-top: 5px;" (click)="onClickPrint()">
            Print
          </button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button type="button" class="btn " style="width:100px;margin-top: 5px;" (click)="closePrintView()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<spinner-component></spinner-component>