<div class="col-md-12 col-sm-12 col-xs-12 advice_text">
    <h2>Order Details - {{slotBookingDetails.orderId}}</h2>
    <ng-container *ngIf="update">
        <button type="button" (click)="onUpdateOrder()" class="btn btn-primary updatebtn">Raise Order</button>
    </ng-container>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget_txt1234" widget="" *ngIf="slotBookingDetails.patientProfileDetails">
            <div class="col-lg-12">
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt patientpop" *ngIf="slotBookingDetails.patientProfileDetails">
                    <h6>Patient Details:</h6>
                    <h4>{{slotBookingDetails.patientProfileDetails.title?slotBookingDetails.patientProfileDetails.title+". ":''}} {{slotBookingDetails.patientProfileDetails.fName}} {{slotBookingDetails.patientProfileDetails.lName?slotBookingDetails.patientProfileDetails.lName:''}}
                    </h4>
                </div>
            </div>

            <div class="col-lg-12 contact_details">
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt patientpop" *ngIf="slotBookingDetails.patientProfileDetails">
                    <h6>Contact Number:</h6>
                    <h4>{{slotBookingDetails.patientProfileDetails!=undefined && slotBookingDetails.patientProfileDetails.contactInfo!=undefined? slotBookingDetails.patientProfileDetails.contactInfo.mobile:''}}
                    </h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt patientpop" *ngIf="slotBookingDetails.patientProfileDetails">
                    <h6>Booking Type:</h6>
                    <h4>{{slotBookingDetails.bookingSubType == 1? 'Home Collection':'Walk-in'}}
                    </h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt" *ngIf="slotBookingDetails.bookingSubType == 1 && slotBookingDetails.deliveryAddress">
                    <h6>Home Collection Address:</h6>
                    <h4>
                        <p>{{slotBookingDetails.deliveryAddress.address1}}, {{slotBookingDetails.deliveryAddress.address2}}, {{slotBookingDetails.deliveryAddress.landmark?slotBookingDetails.deliveryAddress.landmark:''}}
                        </p>
                        <p>{{slotBookingDetails.deliveryAddress.cityName}}, {{slotBookingDetails.deliveryAddress.stateName}} - {{slotBookingDetails.deliveryAddress.pinCode}}
                        </p>
                    </h4>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="col-md-12 col-sm-12 col-xs-12 advice_text" *ngIf="slotBookingDetails.convertedDocumentUrlList!=null && slotBookingDetails.convertedDocumentUrlList.length>0">
    <h2>Prescription Documents</h2>
</div>

<div class="col-lg-12" *ngIf="slotBookingDetails.convertedDocumentUrlList!=null && slotBookingDetails.convertedDocumentUrlList.length>0">
    <section class="newadd_process  row" widget="">
        <div class="col-lg-12 prescription_scroll" *ngFor="let item of slotBookingDetails.convertedDocumentUrlList ; let i =index">
            <div *ngIf="item&&item.substring(item.lastIndexOf('.') + 1,item.lastIndexOf('.') + 4).toString() != 'pdf'">
                <img alt=" " [attr.src]='item' (click)="sliderImage(item,'img')" class="image_clickpopup" data-toggle="modal" data-target="#sliderimagepopup">
            </div>
            <div *ngIf="item.includes('pdf')">
                <img alt=" " src='assets/img/partner/pdf_icon_read.png' (click)="sliderImage(item,'pdf')" class="image_clickpdf">
            </div>
        </div>
    </section>
</div>

<br>

<div class="table_size" *ngIf="slotBookingDetails.serviceList.length >0">
    <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-12 perscripton_txt">
            Tests
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="process_widget table_pading" widget>
                <div class="widget-body table-datalabel widget-shadow">
                    <table class="table">
                        <thead>
                            <tr class="table_head">
                                <th>S.No</th>
                                <th class="">Test Name</th>
                                <th class="">Original Price</th>
                                <th class="">Offer Price</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of slotBookingDetails.serviceList; let i = index">
                            <tr>
                                <td data-label="S.No">
                                    <div class="tabledatalabel-right"><label class="fname-txt">{{i+1}} </label></div>
                                </td>
                                <td data-label="Test Name">
                                    <div class="tabledatalabel-right"><label class='fname-txt'>{{item.serviceName}}</label></div>
                                </td>
                                <td data-label="Original Price">
                                    <div class="tabledatalabel-right"><label>{{item.grossPrice}}</label></div>
                                </td>
                                <td data-label="Offer Price">
                                    <div class="tabledatalabel-right"><label>{{item.netPrice}}</label></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 process_padding">
    <button role="button" class="processbotton_txt processdone_txt" (click)="onGenerateBack()">BACK</button>
</div>


<div id="sliderimagepopup" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close slider_close{
                            " data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="prescription-modal">
                <form name="info_form" class="form-inline" action="#" method="post">
                    <div class="form-group">
                        <img [src]="crouselSelectedImage" class="image_sliderpop" *ngIf="prescriptionType=='img'">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group image_download">
                    <a href={{crouselSelectedImage}} class="download_imagetxt" target="_blank">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>