.doctor_drop{
    margin-top: 28px;
}
.filter_cat{
    margin-left: 273px;
}
.filter_categorypoc span{
    float: right;
}
.filter_categorypoc p{
    margin-bottom: 0px;
}
.filter_categorypoc select{
    border-color: rgba(0, 0, 0, 0.2);
}
.widget_emlopyee{
    box-shadow: 0px 0px 4px 1px #e6e6e6;
    margin-top: 20px;
}
.table_employee th:first-child,.admin_employee td:first-child{
    width: 53px;
}
.employee-circle{
    border-radius: 50%;
    width: 100%;
}
.employee_nametxt{
    text-align: left;
}
.employee_nametxt h6{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
.employee_nametxt p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 0px;
}
.employees_pocdetail{
    width: 35%;
    padding-top: 10px !important;
}

