<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 editprocessid_text">
        <h1 class="page-title">{{processOrderDetails.orderId}}</h1>
    </div>
</div>
<div class="col-lg-12">
    <section class="newadd_editprocess row" widget="">
        <div class="col-md-4 col-sm-4 col-xs-12 editprocess_txt patientpop">
            <p>Patient</p>
            <h4>{{processOrderDetails.cartItem.patientProfileDetails.title?processOrderDetails.cartItem.patientProfileDetails.title+".
                ":''}}
                {{processOrderDetails.cartItem.patientProfileDetails.fName}}
                {{processOrderDetails.cartItem.patientProfileDetails.lName?processOrderDetails.cartItem.patientProfileDetails.lName:''}}
            </h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 editprocess_txt editprocess_jpg">
            <p>Delivery Area &amp; Address</p>
            <h4 class="processorder_address"> {{processOrderDetails.address}}
            </h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 editprocess_txt editprocess_jpg">
            <p>Prescription Documents</p>
            <h4>{{processOrderDetails.cartItem.proofDocumentUrlList!=null &&
                processOrderDetails.cartItem.proofDocumentUrlList.length>0?'Available':'Not Available'}}
            </h4>
        </div>

    </section>
</div>
<hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
<div class="col-md-12 col-sm-12 col-xs-12 editprocessid_text editprescription_text"
    *ngIf="processOrderDetails.cartItem.proofDocumentUrlList!=null && processOrderDetails.cartItem.proofDocumentUrlList.length>0">
    <h2>Prescription Documents</h2>
</div>

<div class="col-lg-12"
    *ngIf="processOrderDetails.cartItem.proofDocumentUrlList!=null && processOrderDetails.cartItem.proofDocumentUrlList.length>0">
    <section class="newadd_process newadd_processcroll  row" widget="">
        <div class="col-lg-4 prescription_scroll"
            *ngFor="let item of processOrderDetails.cartItem.proofDocumentUrlList ; let i =index">
            <div *ngIf="item.substring((item.lastIndexOf('.') + 1)).toString() != 'pdf'">
                <img alt=" " src='{{item}}' (click)="sliderImage(item)" class="image_clickpopup" data-toggle="modal"
                    data-target="#sliderimagepopup">
            </div>
            <div *ngIf="item.substring((item.lastIndexOf('.') + 1)).toString() == 'pdf'">
                <img alt=" " src='assets/img/partner/pdf_icon_read.png' (click)="sliderImage(item)"
                    class="image_clickpdf">
            </div>
        </div>
    </section>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 editprocessid_text">
        <h2>Prescription</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 processid_text">
        <button class="btn editaddmedicine_btn" type="button" (click)="addNewMedicineRow()">
            <i class="fa fa-plus editadd_txt" aria-hidden="true"></i>Add Medicine</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="editprocess_widget table_pading homeordereditprocess_widget widget-shadow" widget="">

            <div class="widget-body table-responsive table-datalabel">
                <table class="table table-hover table-striped hs_tabletxt">
                    <thead>
                        <tr class="table_head">
                            <th class="">#</th>
                            <th class="">Medicine Name</th>
                            <th class="sort-true">Composition</th>
                            <th>Strength</th>
                            <th>Quantity</th>
                            <th>Gross Price (Per unit)</th>
                            <th>Total Tax</th>
                            <th>Total Amount</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of processOrderDetails.cartItem.pharmacyList ; let i=index ">
                            <td data-label="#">
                                <div class="tabledatalabel-right">{{i+1}}</div>
                            </td>
                            <td data-label="Medicine Name" class="searchtable_prescription">
                                <div class="tabledatalabel-right">
                                    <hs-select [defaultSelectLabel]="'Medicine Name'" [selectColumns]="selectColumns"
                                        [defaultSelected]="item" [defaultSelectField]="'productName'"
                                        [selectTotal]="productNameSelectTotal"
                                        [selectResults]="productNameSearchResults" [hardReset]="productNameHardReset"
                                        (searchTrigger)="productNameSearchTrigger($event)"
                                        (selectTrigger)="selectTrigger($event, i)" (keyup)="onProductChange()">
                                    </hs-select>
                                </div>
                            </td>
                            <td data-label="Composition">
                                <div class="tabledatalabel-right">{{item.genericMedicine?.genericMedicineName}}</div>
                            </td>
                            <td data-label="Strength">
                                <div class="tabledatalabel-right">{{item.medicineStrength}}</div>
                            </td>
                            <td data-label="Quantity" class="quntity_txtbut">
                                <div class="tabledatalabel-right">
                                    <input type="text" class="form_control" [(ngModel)]="item.quantity" maxlength="3"
                                        (keyup)="onQuantityChange()" (change)="onQuantityChange()"
                                        (keypress)="validation.onlyNumbers($event)">
                                </div>
                            </td>
                            <td data-label="Gross Price (Per unit)" class="quntity_txtbut">
                                <div class="tabledatalabel-right">
                                    <input type="text" class="form_control" [(ngModel)]="item.grossPrice"
                                        (ngModelChange)="item.grossPrice" (keyup)="onQuantityChange()"
                                        (change)="onQuantityChange()"
                                        (keypress)="validation.onlyDecimalValueTillTwoDigits($event)">
                                </div>
                            </td>
                            <td data-label="Total Tax">
                                <div class="tabledatalabel-right">
                                    &#8377; {{item.taxationAmount | number : '1.2-2'}}
                                    <br> CGST({{item.taxes?item.taxes.cgst:0}}%): &#8377;
                                    {{item.totalTaxes?item.totalTaxes.cgstAmount:0 | number : '1.2-2'}}
                                    <br> SGST({{item.taxes?item.taxes.sgst:0}}%): &#8377;
                                    {{item.totalTaxes?item.totalTaxes.sgstAmount:0 | number : '1.2-2'}}
                                    <br> IGST({{item.taxes?item.taxes.igst:0}}%): &#8377;
                                    {{item.totalTaxes?item.totalTaxes.igstAmount:0 | number : '1.2-2'}}
                                </div>
                            </td>
                            <td data-label="Total Amount">
                                <div class="tabledatalabel-right"><span>&#8377; {{item.finalAmount | number : '1.2-2'}}
                                    </span></div>
                            </td>
                            <td>
                                <div class="tabledatalabel-right"><i aria-hidden="true"
                                        class="fa fa-times editremove_txt" id="removeButton" (click)="remove(i)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</div>

<div class="row" style="float:right">
    <div class="col-md-12 col-sm-12 col-xs-12 editprocess_form">
        <form action="#" class="from_txt" novalidate="">
            <div class="row edit_process">
                <div class="col-md-2 col-sm-2 col-xs-6 editprocess_padding">
                    <button role="button" class="editprocessbotton_txt editprocessdone_txt"
                        (click)="onGenerateBack()">BACK</button>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-6">
                    <button class="editprocesssubmit_txt" role="button" (click)="onSubmitForCalculation()">NEXT</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- sliderImage -->
<div id="sliderimagepopup" class="modal fade in" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close slider_close{
                                " data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form name="info_form" class="form-inline" action="#" method="post">
                    <div class="form-group">
                        <img [src]="crouselSelectedImage" class="image_sliderpop">
                        <a href={{crouselSelectedImage}} class="download_imagetxt" download>Download</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<!--  popup model end here -->
<spinner-component></spinner-component>