<!--<hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>-->
<div class="advice_text" *ngIf="cartItem.invoiceId">
    <h1 class="page-title"> Invoice ID {{cartItem.invoiceId}}</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="widget_txt2" widget="">
            <div class="col-md-4 col-sm-4 col-xs-12 patient_txt">
                <p>Patient </p>
                <h4>{{cartItem.patientProfileDetails?.title?cartItem.patientProfileDetails.title+'. ':''}}
                    {{cartItem.patientProfileDetails?.fName}}
                    {{cartItem.patientProfileDetails?.lName?cartItem.patientProfileDetails.lName:''}}
                </h4>
            </div>
            <!-- <div class="col-md-4 col-sm-4 col-xs-12 patient_txt">
                <p>Doctor</p>
                <h4> {{cartItem.doctorDetail.title}} {{cartItem.doctorDetail.firstName}} {{cartItem.doctorDetail.lastName}}</h4>
            </div> -->
            <div class="col-md-4 col-sm-4 col-xs-12 patient_txt"
                *ngIf="cartItem.orderId!=undefined && cartItem.orderId!=null">
                <p>Order ID</p>
                <h4>{{cartItem.orderId}}</h4>
            </div>

        </section>
    </div>
</div>
<div class="table_size">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12 perscripton_txt">
            Prescription
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget table_pading invoice_widget" widget>
                <div class="widget-body table-datalabel widget-shadow">
                    <table class="table table-striped">
                        <thead class="table_head">
                            <tr class="table_head">
                                <th style="width: 16%;">Product Code</th>
                                <th style="width: 13%;">Medicine Name</th>
                                <th style="width:13%;">Composition</th>
                                <th>Package</th>
                                <th class="">Quantity</th>
                                <th style="width:11%;">Unit MRP ( &#8377; )
                                    <p class="with_txt">Without Taxes</p>
                                </th>
                                <th style="width:11%;">Total Taxes ( &#8377; )
                                </th>
                                <th>Final Amount</th>
                            </tr>

                        </thead>
                        <tbody *ngFor="let item of cartItem.pharmacyList; let i = index">

                            <tr *ngIf="item.productName">
                                <td data-label="Product Code">
                                    <div class="tabledatalabel-right">
                                        {{item.productCode || 0}}
                                        <p class='schedule_txt'>Schedule:{{item.schedule}}</p>
                                        <p class='schedule_txt'>Expiry Date:{{item.stockDetails.expiryDate | date:'MMM
                                            y'}}</p>
                                    </div>
                                </td>
                                <td data-label="Medicine Name">
                                    <div class="tabledatalabel-right">
                                        {{item.productName||''}}
                                        <p class='schedule_txt' style="color:blue;">Batch
                                            No:{{item.stockDetails.batchNo}}
                                        </p>
                                        <p class='schedule_txt'>Rack:{{item.stockDetails.rackNo}}</p>
                                    </div>
                                </td>
                                <td data-label="Composition">
                                    <div class="tabledatalabel-right">{{item.genericMedicine?.genericMedicineName||''}}
                                    </div>
                                </td>
                                <td data-label="Package">
                                    <div class="tabledatalabel-right">{{item?.drugForm||''}}/{{item.packageSoldLoose?
                                        'Loose' : item.packingInformation.packageType }} </div>
                                </td>
                                <td data-label="Quantity">
                                    <div class="tabledatalabel-right">{{item.quantity||0}}</div>
                                </td>
                                <td data-label="Unit MRP ( &#8377; )">
                                    <div class="tabledatalabel-right">
                                        &#x20B9;{{(item.grossPrice | number : '1.0-2')||0}}</div>
                                </td>
                                <td data-label="Total Taxes ( &#8377; )">
                                    <div class="tabledatalabel-right"> &#x20B9;{{ item.totalTaxes.igstAmount>0?
                                        item.totalTaxes.igstAmount:(item.totalTaxes.cgstAmount +
                                        item.totalTaxes.sgstAmount) | number : '1.0-2'}}</div>
                                </td>
                                <td data-label="Final Amount">
                                    <div class="tabledatalabel-right">
                                        &#x20B9;{{item.netPrice * item.quantity | number : '1.0-2'}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="#" class="from_txt newadvice_fromtxt">
            <div class="row">

                <ng-template [ngIf]="this.cartItem.parentProfileId>0">
                    <app-cartdiscount [parentProfileId]="this.cartItem.parentProfileId"
                        [cartItemDetails]="this.cartItem" [discountType]="this.discountType" [pocId]="this.pocId"
                        [isPharmacy]="true" [taxationAmount]="this.taxationAmount">
                        <!-- [cartItemType]="cartItemType" -->
                    </app-cartdiscount>
                </ng-template>

                <div class="col-md-12" *ngIf="checkFinalAmount()">
                    <div class="row process_original">
                        <div class="col-md-5 col-sm-6 col-xs-12 total_txt">Payment Mode : </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <form action="#" class="color_cash">
                                <input type="radio" name="paymant" value="0" checked
                                    (change)="checkPaymentModeSelection(2)"> Cash &nbsp;&nbsp;
                                <input type="radio" name="paymant" value="1" (change)="checkPaymentModeSelection(5)">
                                Mobile &nbsp;&nbsp;
                                <input type="radio" name="paymant" value="2" id="other-payment"
                                    (change)="checkPaymentModeSelection(9)"> Others
                                <div class="other-paymentdetails" *ngIf="paymentModeIndex!=2 && paymentModeIndex!=5">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 pr-0">
                                            <select class="form-control"
                                                (change)="checkPaymentModeSelection($event.target.value)">
                                                <option value="0" disabled>Select</option>
                                                <option value="1">Card</option>
                                                <option value="8">PhonePe</option>
                                                <option value="6">Google Pay</option>
                                                <option value="7">PayTM</option>
                                                <option value="11">NEFT</option>
                                                <option value="12">UPI</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <input type="text" placeholder="Transaction Id" class="form-control"
                                                [(ngModel)]="transactionId" [ngModelOptions]="{standalone: true}" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row process_original" *ngIf=" paymentModeIndex != 5">
                        <div class="col-md-5 col-sm-6 col-xs-12 total_txt">Payment Status: </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <form action="#" class="color_cash">
                                <input type="radio" name="payment" value="1" (change)="checkPaymentStatusSelection(1)">
                                Paid &nbsp;&nbsp;
                                <input type="radio" name="payment" value="0" checked
                                    (change)="checkPaymentStatusSelection(0)"> Not Paid
                            </form>
                        </div>
                    </div>
                </div>

                <br>
                <br>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12"></div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <button role="button" class="btn back_btn " value="Submit"
                        (click)="onBackButtonClick()">Back</button>
                    <button role="button" class="btn submit_btn" value="Submit"
                        (click)="ConfirmOrder()">Confirm</button>
                </div>
            </div>
            <div hs-notification></div>
        </form>
    </div>
</div>
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="gotoProductInvoice()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                    (click)="gotoProductInvoice()">Close</button>
            </div>
        </div>
    </div>
</div>