// th{
//     color: #64819E !important;
//     text-transform: capitalize !important;
//     font-size: 15px;
//     line-height: 1.73;
//     padding: 19px 15px 17px 15px;
// }
.widget{
    border: none !important;
    border-top: 1px solid #e6e6e6 !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}
table h5{
    font-size: 14px;
    line-height: 1.29;
    font-weight: 500;
    margin: 0;
}
table{
    min-width: 600px;
}
.email{
    color: #EF5611 !important;
    text-decoration: underline;
}
