.color_red{
    font-size: 35px;
    top: 3px;
    color: #ff0000;
    left: -5px;
}
.test_name{
    font-size: 1.07rem;
}
.button_update {
    background-color: #14a9b5;
    font-size: 16px;
    color: #fff;
}
.cancel_txt{
    font-size: 16px;
}