.datePayment {
    float: right;
    margin-right: 0px;
}

.processid_text p {
    font-size: 16px;
    color: #14a9b5;
    font-weight: 500;
}

.processid_text h2 {
    color: #11a9b5;
}

.prescription_padding {
    padding-left: 0px;
}

.processdone_txt {
    background-color: #1dc8d5;
    border-color: #1dc8d5;
}

.process_padding {
    padding: 0px;
  }

.processbotton_txt {
    padding: 5px 25px;
    font-size: 18px;
    border-radius: 0px;
    border: none;
    color: #fff;
}