@import "../../../scss/variables";
@import "../../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../scss/theme.scss";


/*
 * Bootstrap calendar
 */
.sub-title{
  font-size: 16px;
  font-weight: 500;
}
.widget{
      margin-bottom: 5px;
}
.next_prv ul{
      list-style: none;
       float: right;
   
}
.next_prv ul li{
      list-style: none;
      display: inline;
      float: left;
       padding: 0px 20px;
}
.next_prv ul .next_prvtxt{
border: 1px solid #fff;
    padding: 0px 10px;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
    margin-right: 10px;
}
.medicine_detail{
  margin-bottom: 20px;
}
.medicine_txt{
    resize: none;
        height: 35px;
            overflow-y: auto;
    max-height: 35px;
}
.medicine_txt:focus{
    background-color: #eeeeee;
 
        border-color: rgba(0, 0, 0, 0.15)
}
.medicine_txt:disabled, .medicine_txt[readonly] {
     
    opacity: 1;
}
.table_head a:focus{
  outline: 0;
}
.next_prv ul li:last-child{
   padding-right: 0px;
}
.hide_btntxt {
    padding: 5px 5px;
    font-size: 13px;
    border-radius: 9px;
     
    background-color: rgba(128, 128, 128, 0.54);
    border-color: #1dc8d5;
    border: none;
    color: #fff;
    width: 125px;
    pointer-events: none;
}
  .enter_error{
    color: #ff0000;
    padding-left: 21%;
    font-size: 15px;
    font-weight: 600;
  }
.filter_txt{
  float: right;
  margin-right: 15px;
}
.select_city {
  margin-right: 0px;
}
.filter_txt select{
  width: 120px;
    padding: 6px 5px;
    border-radius: 2px;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.18);
}
.filter_txt select:focus {
    outline-offset: 0px;
    border-color: transparent;
    outline: 0px;
}
.hide_btn {
    display: block;
    pointer-events: none;
}

.search_btn{
background-color: #ff6d6d;
    border-color: #ff6d6d;
}
.search_btn:active:hover{
background-color: #ff6d6d;
    border-color: #ff6d6d;
}
.calendar{
  font-size: $font-size-mini;
  padding: $line-height-computed/2 0;
}
.calendar a{
  text-decoration: none;
  cursor: pointer;
  color: $gray-dark !important;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.calendar td{
  text-align: center;
}
.calendar .header{
  padding: 10px 0 10px 0;
  color: #666;
  i{
    cursor: pointer;
  }
}
.calendar .prev_month{
  float: left;
}
.calendar .next_month{
  float: right;
}
.calendar .year{
  text-align: center;
  font-weight: 500;
}
.calendar .week_days{
  color: $gray-light;
}
.calendar .event{
  color: white;
  font-weight: bold;
  background-color: transparent;

  &:hover{
    > a{
      background-color: $gray-lighter;
    }
  }

  > a {
    background-color: $white;
    @include border-radius(50%);

    > span{
      display: inline-block;
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 1px;
      right: 1px;
      @include border-radius(50%);
    }
  }

  .popover{
    color: $text-color;
  }
}
.calendar .table td{
  padding: 1px 0;
  border-top: 0;
}
.calendar .table{
  margin-bottom: 3px;
  &.header{
    margin-bottom: $line-height-computed/2;
  }
}
.calendar .visualmonthyear {
  color: $gray-light;
}
.dropdown-menu .calendar td a {
  padding: 0px;
}

/**
 * Mapael
 */

.mapTooltip {
  position : fixed;
  padding : 2px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  background-color : #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  color: $text-color;
}

.zoomIn, .zoomOut {
  position: absolute;
  bottom: 10px;
  left : 10px;
  width: 20px;
  height: 20px;

  box-sizing: content-box;
  border: 1px solid #ccc;
  background-color: #fff;
  color: $text-color;
  line-height: 20px;
  text-align: center;
  border-radius: $border-radius;
  cursor: pointer;
  font-weight: $font-weight-bold;

  user-select: none;
}

.zoomOut {
  left: 36px;

}

.mapael{
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  .map {
    position:relative;
  }
  .stats{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}

// Checkbox

.table td > .abc-checkbox,
.table th > .abc-checkbox {
  > label:before,
  > label:after {
    margin-left: -16px;
  }
}

/***********************/
/* Part:Progress Stats */
/***********************/

.progress-stats{
  .name{
    margin-bottom: 2px;
  }
  .description{
    margin-bottom: 2px;
  }
  .status{
    margin-top: 15px;
  }

  @include media-breakpoint-down(lg) {
    .description + .progress{
      margin-bottom: 0;
    }
  }
}
.add_medicine{
    float: right;
    border: 1px solid #dd5826;
    background-color: #dd5826;
}
.add_medicine:focus, .add_medicine.focus,.add_medicine:hover,.add_medicine:active:focus{
    color: #fff;
   border: 1px solid #dd5826;
    background-color: #dd5826;
    outline: none;
}
.add_medtxt{
padding: 0px 43px 0px;
    font-size: 30px;
    color: $title-color;
    font-weight: 500;
}

.model_txt{
float: right;
    right: 0px;
    width: 400px;
}
.modal-body {
    position: relative;
    padding: 0px 45px 25px !important;
}

.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
    margin: 0px;
	}
  .modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
       min-height: 16.43px;
    padding: 0px 50px 20px;
    border-bottom: transparent;
}
.modal-body label{
  color: #23aeba;
  font-weight: 500;
  font-size: 16px;
}
.modal-content{
      border-radius: 0;
    border: none;
    padding: 40px 0px 60px;
    top: 100px;
}
.modal-title{
color: #23aeba;
font-weight: 600;
}
.modal-body .title_txt{
background-color: #f2fdff;
 resize: none;
 color: #23aeba;
}
.btn-serch {
    color: #fff;
    background-color: #dd5826;
    border-color: #dd5826;
    float: right;
    padding: 5px 20px;
    margin-top: 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    float: right;
}
.modal-body .title_txt:focus{
  border-color: rgba(0, 0, 0, 0.15);
}
.close_txt{
font-size: 40px;
}
.Update {
  width: 172px;
  height: 17px;
 
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 172px;
  height: 40px;
  border-radius: 2px;
  background-color: #ff6d6d;
  border: solid 1px #ec6262;
}
.all_textboxtxt {


  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.radio_txt{
    padding-right: 15px;
}
.serch_txt{
   padding: 6px 10px;
    text-align: left;
    border-radius: 2px;
    border-width: 0px;
    border: 1px solid #ddd;
    text-align: left;
    width: 235px;
    height: 36px;
    
}
.serch_btn{
    background-color: #FF6D6D;
    border-color: #ca4d4d;
    border: 1px solid #ca4d4d;
}
.serch_btn:hover{
  background-color: #FF6D6D;
    border-color: #ca4d4d;
    border: 1px solid #ca4d4d;
}
.table_head .all_engage{
padding: 7px 0px 3px;
width: 132px;
 }
 .modal-dialog{
       margin: -40px auto;
 }
.bck_tabcol{
   background-color: #f7f9fd;
}
 .all_tableh{
    padding: 0px 0px 18px;
 }
 .all_week{
 width: 165px;
    padding-left: 0px;
    margin-left: 76px;
    padding: 6px 0px;
    color: #000;
    font-weight: 600;
 }
 .nextprv_txt .next_btn ul{
     list-style: none;
    float:right;
    padding-right: 0px;
 }
 .nextprv_txt .next_btn ul li{
 
   display: inline;
   float:left;
   
   padding: 0px 15px 0px 15px;
 }
 .nextprv_txt .next_btn ul .arrow_icon{
       font-size: 20px;
    font-weight: 400;
    padding: 5px 0px;
 }
 .orderId:not([href]):not([tabindex]){
    color: #0000ff;
 }
.orderId:not([href]):not([tabindex]):focus, .orderId:not([href]):not([tabindex]):hover{
  
    color: #0000ff;
    text-decoration: underline;
 }
 .nextprv_txt .next_btn ul .box_txticon{
     padding: 5px 15px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
 }
.nextprv_txt .show_txt p{
    color: #000;
    font-weight: 400;
    font-size: 12px;
}
.pdf_txt{
  margin-top: -4px;
}

@media only screen and (min-width: 320px) {
.serch_txt{
width: 175px;
}
.all_week{
margin-left: 0px;
margin-top: 8px;
}
.widget-body { overflow-x: scroll; }
th, td { min-width: 135px; }
.nextprv_txt .next_btn ul {
    list-style: none;
    float: left;
    padding-left: 0px;
}

.nextprv_txt .next_btn ul li {
    display: inline;
    float: left;
    padding: 0px 10px 0px 10px;
}
.nextprv_txt .next_btn ul .box_txticon {
    padding: 5px 12px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
}
}
    @media only screen and (min-width: 568px){
.serch_txt {
    width: 160px;
}
.widget-body { overflow-x: scroll; }
th, td { min-width: 200px; }
    }
    @media only screen and (min-width: 1100px) {
.serch_txt{
width: 185px;
}
.all_week{
margin-left: 76px;
margin-top: 0px;
}
.widget-body {
    overflow-x: inherit;
}
th, td {
    min-width: 0px;
}
.nextprv_txt .next_btn ul {
    list-style: none;
    float: right;
    padding-right: 0px;
}

.nextprv_txt .next_btn ul li {
    display: inline;
    float: left;
    padding: 0px 15px 0px 15px;
}
.nextprv_txt .next_btn ul .box_txticon {
    padding: 5px 15px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    box-shadow: 1px 1px 1px #e6e6e6;
}
}
.reset_btn{
  float: right;
}
@media screen and (max-width:459px){
  .filter_txt select{
    width: 96px;
    padding: 6px 0px;
  }
  .reset_btn .reset_txt{
     display: none;
  }
  .reset_btn{
    width: auto;
  }
  .btn .glyphicon{
    right: 0;
  }
}
.serch_txt, .search_btn{
  width: 100%;
}
@media screen and (min-width:992px) and (max-width: 1017px){
  .filter_txt select{
    width: 125px;
  }
}

@media screen and (max-width: 359px) {
  .sub-title {
    font-size: 14px;
  }
  .filter_txt select {
    width: 82px;
    font-size: 11px;
  }
}
 
  
