<div *ngIf="!isFromDoctor">
    <div class="col-lg-12 col-md-12 col-sm-12 wizard">
        <div class="progress_indicator_wrapper subWizard mb-3">
            <a (click)="navigateTOFromWizard(0)" class="progress_indicator active"><span
                    class="ic_progress present"></span>PHR</a>
            <a (click)="navigateTOFromWizard(1)" class="progress_indicator "><span
                    class="ic_progress future"></span>Physicals
            </a>
            <a (click)="navigateTOFromWizard(2)" class="progress_indicator "><span class="ic_progress future"></span>
                Lab Tests</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="row profile-info" *ngIf="!isOnlyPHRView">
    <div class="col-md-12">
        <div class="card-columns">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="card-header">
                            <div class="col-lg-12 col-md-12">
                                <h5>Profile</h5>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-2 col-xs-4">
                                            <div class="user">
                                                <img
                                                    [src]="registrationVo.profilePic ?registrationVo.profilePic : defaultProfileImgUrl" />
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-10 col-xs-8">
                                            <div class="content">
                                                <div class="main">
                                                    <h3 class="name">
                                                        {{registrationVo.title?registrationVo.title+'. ':''}}
                                                        {{registrationVo.fName}}
                                                        {{registrationVo.lName?registrationVo.lName:''}}
                                                    </h3>
                                                    <p class="profession"><span
                                                            *ngIf="registrationVo.dob">{{getAge(registrationVo.dob)}}</span>{{registrationVo.gender}}
                                                    </p>
                                                    <!-- <p>Risk Profile Hypertention</p> -->
                                                    <p class="beck_txt" *ngIf="registrationVo.social">
                                                        {{registrationVo.social.handle}}</p>
                                                    <p class="hi-center" *ngIf="registrationVo.social">
                                                        {{registrationVo.social.about}}</p>
                                                </div>
                                                <!-- <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                        <p class="getyour_txt">Get your complete Personal Health Report
                                                            with 100% PHR completion</p>
                                                    </div>
                                                </div> -->
                                                <div class="profile-btns" *ngIf="isFromDoctor">
                                                    <button class="edit-btn" (click)="this.onEditPhrClickHandler()">EDIT
                                                        PHR</button>
                                                    <!-- <patientphr class="float-right mb-2"></patientphr> -->
                                                    <button class="edit-btn" (click)="editVitals.emit()">VIEW / EDIT
                                                        VITALS</button>
                                                    <button class="edit-btn"
                                                        (click)="showUploadedRecords.emit()">UPLOADED DOCS</button>
                                                    <button class="engage-btn" (click)="isEngage.emit()">ENGAGE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end front panel -->

                    <!-- end back panel -->
                </div>
                <!-- end card -->
            </div>
            <!-- end card-container -->
            <div *ngIf="isFromDoctor && scanAndUploadPrescriptions">
                <uploadcard [fromDoctorQueue]="true"></uploadcard>
            </div>

            <div class="card-container" *ngIf="!isFromDoctor">
                <div class="family-container manual-flip">
                    <div class="card">
                        <div class="family_txt">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 family_member">
                                        <h5>Family Members</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="family_containertxt">
                                    <ul class="list-group list-group-flush">
                                        <li *ngFor="let familyMember of familyMemberList" class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2 col-xs-4">
                                                    <div class="user">
                                                        <img [src]="familyMember.imageData">
                                                    </div>
                                                </div>
                                                <div class="col-md-10 col-sm-10 col-xs-8">
                                                    <p> <b class="gregory_txt">{{familyMember.title?familyMember.title+".
                                                            ":''}}{{familyMember.fName}}
                                                            {{familyMember.lName?familyMember.lName:""}}</b>
                                                        <br> <span
                                                            *ngIf="registrationVo.dob">{{getAge(familyMember.dob)}},</span>{{familyMember.gender}}
                                                        <br>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==0">
                                                            Self
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==1">
                                                            Spouse
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==2">
                                                            Mother
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==3">
                                                            Father
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==4">
                                                            Daughter
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==5">
                                                            Son
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==6">
                                                            Mother-inLaw
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==7">
                                                            Father-inLaw
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==8">
                                                            Sibling
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==9">
                                                            GrandMother
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==10">
                                                            GrandFather
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==11">
                                                            Daughter-inLaw
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==12">
                                                            Son-inLaw
                                                        </span>
                                                        <span class="brand-txt" *ngIf="familyMember.relationShip==13">
                                                            Others
                                                        </span>
                                                        <!-- <br> Risk Profile<b> Hypertention</b></p> -->
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!-- end front panel -->

                        <!-- end back panel -->
                    </div>

                </div>
                <!-- end family-container -->
            </div>

            <div class="pastprescriptions" *ngIf="isFromDoctor">
                <pastprescriptionsbox [isFooterHidden]="true" [isFromDoctorWizard]='true'
                    (onClickTest)="onClickTest($event)" (onClickPastPrescription)="onClickPastPrescription($event)">
                </pastprescriptionsbox>
            </div>




        </div>
    </div>

</div>


<div *ngIf="registrationVo.updatedBy && registrationVo.updatedBy.updatedTime != 0 " class="updatedBy">
    Last updated on {{convertToDate(registrationVo.updatedBy.updatedTime)}} by,
    {{registrationVo.updatedBy.title?registrationVo.updatedBy.title:''}} {{registrationVo.updatedBy.firstName}}
    {{registrationVo.updatedBy.lastName?registrationVo.updatedBy.lastName:''}}
</div>
<div *ngIf="registrationVo.updatedBy && registrationVo.updatedBy.updatedTime == 0 ">
    PHR has not been updated.
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-columns">
            <div *ngFor="let phrCategories of phr.phr;let i = index;" class="family-container manual-flip">
                <div class="card" *ngIf="phrCategories.title !='TestDetail'">
                    <div class="general_txt">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 general_info">
                                    <h4>{{phrCategories.title}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <div *ngFor="let activity of phrCategories.activities">
                                    <div *ngIf="activity.text!='Address'&& activity.text!='Emergency Contact'">
                                        <div *ngFor="let question of activity.question">
                                            <div *ngIf="question.componentId == 0 || question.componentId == 4 ">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-8">{{question.desc}}</div>
                                                        <div class="col-md-6 col-xs-4 gregory">
                                                            <b>{{getAnswer(question.componentId,question)}}</b>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                            <div *ngIf="question.componentId == 2 || question.componentId == 1">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-8">{{question.desc}}</div>
                                                        <div class="col-md-6 col-xs-4 gregory">
                                                            <b>{{question.ans}}</b>
                                                        </div>
                                                    </div>

                                                </li>
                                            </div>
                                            <div *ngIf="question.componentId == 5 && question.ans !=''">
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-8">{{question.desc}}</div>
                                                        <div class="col-md-6 col-xs-4 gregory">
                                                            <b>{{getAnswer(question.componentId,question)}}</b>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>

                    </div>
                    <!-- end front panel -->

                    <!-- end back panel -->
                </div>
                <!-- end card -->


            </div>
        </div>
        <!-- end card-container -->
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content generic_pupop">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>

            </div>
            <div class="modal-body">
                <h1 class="select_batch">Choose a Report to View</h1>
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Report Names</th>
                        </tr>
                    </thead>
                    <tr *ngFor="let file of fileUrlList; let i = index">
                        <td><a [href]="file.fileUrl" target="_blank">{{file.fileName}}</a></td>
                    </tr>
                </table>

            </div>
            <!--<div class="modal-footer">
                <input type="submit" class="Update" value="ADD MEDICINE">
            </div>-->
        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal " id="patientPHRModel" tabindex="-1" role="dialog" aria-labelledby="patientPHRModelLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="modelView=='onboardingPersonal'">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="patientPHRModelLongTitle">PHR Details</h5> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times; </span> Close
                </button>
            </div>
            <div class="modal-body" *ngIf="isPHREditView==true && this.consentVerified == true">

                <onboardingPersonal (refresh)="ngOnInit()" [isFromDoctor]="true"></onboardingPersonal>
            </div>

        </div>
    </div>
</div>

<div class="modal" style=" overflow-y: auto !important" id="modelIdphrpastprescription" tabindex="-1" role="dialog"
    aria-labelledby="modelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div *ngIf="hasPastPrescriptions && ( modelView=='pastprescription' || modelView=='saveTemplate' )">
                <div *ngIf="modelView=='pastprescription'" style="padding: 15px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pastPrescriptionModelLabel">Prescription Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close">
                            <span aria-hidden="true">Close &times;</span>
                        </button>
                    </div>
                    <div class="model-body" *ngIf="modelView=='pastprescription'" style="min-height: 300px">
                        <prescriptionsummary [isFrom]="'pastPrescription'" (wizardView)="wizardView.emit()"
                            (minMaxVideo)="minMaxVideo.emit()" [pastPrescription]="pastPrescription"
                            [isFooterHidden]="true">
                        </prescriptionsummary>
                    </div>
                </div>
            </div>
            <div *ngIf="hasPastTests && modelView=='pastprescriptionTest'">
                <div class="modal-header">
                    <h5 class="modal-title" id="pastPrescriptionModelLabel">Test Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body card-group">
                    <div *ngIf="!pastTests || pastTests.length <  1" style="margin-left:40%">
                        No Past Tests Found
                    </div>
                    <div class="card mr-2" *ngFor="let test of pastTests">
                        <div class="card-header">
                            {{test.reportedDate | date}}
                        </div>
                        <div class="card-body">
                            <div class="">
                                <div *ngFor="let testDetail of test.testDetailList">
                                    {{testDetail.name}}
                                </div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item mt-1" *ngFor="let file of test.fileUrlList">
                                    {{file.fileName}}

                                    <button class="btn btn-primary float-right"
                                        (click)="openURLInNewTab(file.fileUrl)">Open</button>

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.consentVerified == false && showConsenPopUp == true">
    <requestconsent [isFromWizard]="isFromWizard" (onModalClose)='this.onModalClose($event)'></requestconsent>
</div>

<spinner-component></spinner-component>