.specialization_title{
    color:#14A9B5;
}
.image_circle1{
    padding-left: 0px!important;
}
.image_circle1 .rounded-circle{
    width: 100%;
}
.doctor_name1 h5{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
.docbooking_title h6{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}
.doctor_name1 p, .docbooking_title p{
    font-weight: 500;
    color: #000;
    line-height: 19px;
}
.engage_txt{
    color: #fff;
    background-color: #14a9b5;
    border-color: #14a9b5;
    padding: 5px 0px;
    font-size: 14px;
    border-radius: 10px;
    width: 123px;
}
.docbooking_title{
    padding-left: 0px !important;
}