@import "../../../scss/variables";
@import "../../../scss/theme.scss";

.page-title b {
    color: $btn-secondary;
}

.custom_chk input[type="radio"] {
    display: none;
}

.slot_booktxt label {
    width: 174px;
    padding: 10px !important;
    min-height: 104px;
    height: auto !important;
}

.custom_chk label {
    border: 1px solid #e9f8fb;
    padding: 16px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 1px 2px 3px -2px #999;
    -moz-box-shadow: 1px 2px 3px -2px #999;
    box-shadow: 1px 2px 3px -2px #999;
    margin-top: 15px;
    margin-bottom: 0;
    background: #FDFDFD;
    font-family: 'proxima_novaregular', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: normal;
}

.ailment_text {
    font-size: 18x;
    font-weight: 600;
    text-align: left;
}

.custom_chk label span {
    display: inline-block;
    vertical-align: middle;
}

.text_margin {
    margin: 0px;
}

.modal-header {
    border-bottom: none;
}

.text-line {
    background-color: transparent;
    color: $title-color;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    ;
    padding: 3px 5px 3px 0px;
    width: 100%;
    font-size: 18px;
}

.add_medtxt {
    padding: 0px;
    font-size: 30px;
    color: $title-color;
    font-weight: 500;
}

.paycon_txt {
    background-color: transparent;
    color: $title-color;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    font-size: 18px;
}

.editdoc_txt {
    margin-bottom: 3px;
}

.doctor_input {
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.cancelslot_txt {
    background-color: transparent;
    font-size: 12px !important;
    background-color: $title-color !important;
    border-color: $title-color !important;
    padding: 12px 25px !important;
    margin-left: 15px !important;
    margin-right: 0 !important;
    float: right;
    border-radius: 2px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
}