<div class="col-md-12 col-sm-12 col-xs-12 advice_text">
    <h2>Order Details - {{diagnosticAdminOrderDetails.orderId}}
        <!-- <button type="button" class="btn btn-danger rejectbtn" data-toggle="modal" data-backdrop="static"
            data-target="#rejectModal">
            REJECT ORDER</button> -->
    </h2>
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-lg-12">
        <section class="widget_txt1234" widget="">
            <div class="col-lg-12">
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt patientpop">
                    <h6>Patient Details:</h6>
                    <h4>{{diagnosticAdminOrderDetails.patientProfileDetails.title?diagnosticAdminOrderDetails.patientProfileDetails.title+". ":''}} {{diagnosticAdminOrderDetails.patientProfileDetails.fName}} {{diagnosticAdminOrderDetails.patientProfileDetails.lName?diagnosticAdminOrderDetails.patientProfileDetails.lName:''}}
                    </h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt" *ngIf="diagnosticAdminOrderDetails.pickupDate">
                    <h6>Slot Date</h6>
                    <h4>{{diagnosticAdminOrderDetails.pickupDate | date:'dd/MM/yyyy'}}</h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt" *ngIf="diagnosticAdminOrderDetails.pickupTime">
                    <h6>Slot Time</h6>
                    <h4>{{diagnosticAdminOrderDetails.pickupTime|date:'mediumTime'}}</h4>
                </div>
            </div>

            <div class="col-lg-12 contact_details">
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt patientpop">
                    <h6>Contact Number:</h6>
                    <h4>{{diagnosticAdminOrderDetails.patientProfileDetails!=undefined && diagnosticAdminOrderDetails.patientProfileDetails.contactInfo!=undefined? diagnosticAdminOrderDetails.patientProfileDetails.contactInfo.mobile:''}}
                    </h4>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt" *ngIf="diagnosticAdminOrderDetails.deliveryAddress">
                    <h6>Home Collection Address:</h6>
                    <h4>
                        <p>{{diagnosticAdminOrderDetails.deliveryAddress.address1}}, {{diagnosticAdminOrderDetails.deliveryAddress.address2}}
                        </p>
                        <p>{{diagnosticAdminOrderDetails.deliveryAddress.cityName}}, {{diagnosticAdminOrderDetails.deliveryAddress.stateName}} - {{diagnosticAdminOrderDetails.deliveryAddress.pinCode}}
                        </p>
                    </h4>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 patient_txt">
                    <h6>Booking Date & Time:</h6>
                    <h4>{{diagnosticAdminOrderDetails.createdTimestamp | date:'short'}}</h4>
                </div>

            </div>
        </section>
    </div>

</div>


<div class="col-md-12 col-sm-12 col-xs-12 processid_text prescription_padding" *ngIf="diagnosticAdminOrderDetails.convertedDocumentUrlList!=null && diagnosticAdminOrderDetails.convertedDocumentUrlList.length>0">
    <h2>Prescription Documents</h2>
</div>

<div class="col-lg-12" *ngIf="diagnosticAdminOrderDetails.convertedDocumentUrlList!=null && diagnosticAdminOrderDetails.convertedDocumentUrlList.length>0">
    <section class="newadd_process  row" widget="">
        <div class="col-lg-12 prescription_scroll" *ngFor="let item of diagnosticAdminOrderDetails.convertedDocumentUrlList ; let i =index">
            <div *ngIf="item&&item.substring(item.lastIndexOf('.') + 1,item.lastIndexOf('.') + 4).toString() != 'pdf'">
                <img alt=" " [attr.src]='item' (click)="sliderImage(item,'img')" class="image_clickpopup" data-toggle="modal" data-target="#sliderimagepopup">
            </div>
            <div *ngIf="item.includes('pdf')">
                <img alt=" " src='assets/img/partner/pdf_icon_read.png' (click)="sliderImage(item,'pdf')" class="image_clickpdf">
            </div>
        </div>
    </section>
</div>

<div class="table_size">
    <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-12 perscripton_txt">
            Tests
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <button type="submit" (click)="onChangeTest()" class="button_addtxt add_medicine" value="Add Test" data-toggle="modal" data-target="#myModal2">
                <i class="fa fa-plus add_txt" aria-hidden="true"></i>Add Test</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget table_pading editorder_widget" widget>

                <div class="widget-body table-datalabel widget-shadow">
                    <table class="table">
                        <thead>
                            <tr class="table_head">
                                <th>S.No</th>
                                <th class="">Test Name</th>
                                <th class="">Original Price</th>
                                <ng-container *ngIf="!isVDC">
                                    <th class="">Offer Price</th>
                                </ng-container>
                                <th class=""></th>
                            </tr>

                        </thead>
                        <tbody *ngFor="let item of diagnosticAdminOrderDetails.serviceList; let i = index">
                            <tr>
                                <td data-label="S.No">
                                    <div class="tabledatalabel-right"><label class="fname-txt">{{i+1}}</label></div>
                                </td>
                                <td data-label="Test Name">
                                    <div class="tabledatalabel-right"><label class='fname-txt'>{{item.serviceName}}</label></div>
                                </td>
                                <td data-label="Original Price">
                                    <div class="tabledatalabel-right" *ngIf="!isVDC">
                                        <input type="text" min="0" step="any" oninput="validity.valid||(value='');" class='brand-txt' value={{item}}
                                            [(ngModel)]="item.grossPrice" placeholder='Amount' (keyup)="editPrice($event.target.value,i,true)"
                                            maxlength="10" (keypress)="validation.onlyNumbers($event)">
                                    </div>
                                    <div class="tabledatalabel-right" *ngIf="isVDC"><label class='fname-txt'>{{item.grossPrice}}</label></div>
                                </td>
                                <ng-container *ngIf="!isVDC">
                                    <td data-label="Offer Price">
                                        <div class="tabledatalabel-right">
                                            <input type="text" min="0" step="any" oninput="validity.valid||(value='');" class='brand-txt'
                                                value={{item.netPrice}} placeholder='Amount' (keyup)="editPrice($event.target.value,i,false)"
                                                (keypress)="validation.onlyNumbers($event)">
                                        </div>
                                    </td>
                                </ng-container>
                                <td class="removeField">
                                    <ng-container *ngIf="item.paymentStatusPerTest == 0">
                                        <div class="tabledatalabel-right">
                                            <i aria-hidden="true" class="fa fa-times removetxt_icon" id="removeButton" (click)="removeItem(i)"></i>
                                        </div>
                                    </ng-container>                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <br>
    <hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <button role="button" class="btn editbutton" (click)="onBackClick()"><span
            class="glyphicon glyphicon-chevron-left"></span>Back</button>
        <form action="#" class="from_txt">
            <p class="errMsg">{{errorMsg}}</p>
            <button role="button" class="submit_txt" (click)="onSaveDetails(3)">Save Details</button>
            <div hs-notification></div>
        </form>
    </div>
</div>

<!--Reject order-->
<div id="rejectModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content row digo_popuotxt">
            <div class="modal-header custom-modal-header col-md-12">
                <h4 class="modal-title">Reject Order</h4>
            </div>
            <div class="modal-body row body_rejecttxt">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form name="info_form" class="form-inline">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12 reason_remark">
                            <label class="reason_txt">Are you sure you want to reject this order ?</label>
                            <p>Click OK to Confirm</p>
                        </div>
                        <div class="form-group col-sm-12">
                            <button type="submit" class="btn submit_txt" (click)="rejectOrder(4)">OK</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----slider image------->
<div id="sliderimagepopup" class="modal fade in" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close slider_close{
                            " data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="prescription-modal">
                <form name="info_form" class="form-inline" action="#" method="post">
                    <div class="form-group">
                        <img [src]="crouselSelectedImage" class="image_sliderpop" *ngIf="prescriptionType=='img'">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group image_download">
                    <a href={{crouselSelectedImage}} class="download_imagetxt" target="_blank">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog model_txt" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="close_txt" aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title add_medtxt" id="myModalLabel">Add Tests</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="form-horizontal" class="form-horizontal">
                    <div class="form-group dropdown">

                        <label for="Test" class="all_textboxtxt">Test Name</label>
                        <hs-select [defaultSelectLabel]="'Enter Test Name'" [selectColumns]="selectColumns" [defaultSelected]="investigationInfo" [defaultSelectField]="'serviceName'" [selectTotal]="searchTestsTotal" [selectResults]="searchedTests" (searchTrigger)="searchTests($event)"
                            (selectTrigger)="getTestName($event)"></hs-select>
                    </div>
                    <div class="form-group">
                        <label for="quantity" class="all_textboxtxt">Original Price</label>
                        <input type="text" [(ngModel)]="investigationInfo.grossPrice" class="form-control" placeholder="Enter value" name="testAmount" id="testAmount" ngModel (keyup)="onAmountChange($event.target.value, -1)" (change)="onAmountChange($event.target.value, -1)" [disabled]="isVDC"> 
                    </div>
                    <div class="form-group" *ngIf="!isVDC">
                        <label for="quantity" class="all_textboxtxt">Offer Price</label>
                        <input type="text" [(ngModel)]="investigationInfo.netPrice" class="form-control" placeholder="Enter value" name="offerAmount" id="offerAmount" ngModel (keyup)="onAmountChange($event.target.value, -2)" (change)="onAmountChange($event.target.value, -2)"
                            maxlength="10" (keypress)="validateNumberInputOnly($event)">
                    </div>
                    <input type="button" class="Update" value="ADD TEST" (click)="addNewTest()">
                    <br>
                    <br>
                    <hs-message [isError]="isErrorTest" [show]="showMessageTest" [messages]="errorMessageTest">
                    </hs-message>
                </form>
            </div>

        </div>
    </div>
</div>

<spinner-component></spinner-component>