<div class="table_size">
    <h1 class="page-title">Wellness Schedule</h1>
    <h4 class="">Wellness Tests</h4>
    <div class="row">
        <div class="col-md-9 col-sm-6 col-xs-12">

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <button type="submit" class="button_addtxt add_medicine" value="Add Test" (click)="onAddSchedule()">
                <i class="fa fa-plus add_txt" aria-hidden="true"></i>Add Schedule</button>
        </div>
    </div>
  
    <div class="row">
            <div class="col-md-12">
                <section class="widget table_pading" widget="">
                    <div class="widget-body">
                        <table class="table table-hover table-striped hs_tabletxt">
                            <thead>
                                <tr class="table_head tabledoc_head">
                                    <th>#</th>
                                    <th>Test Name</th>
                                    <th>Test Type</th>
                                    <th>Schedule</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="doctor_serial">
                                    <td>1</td>
                                    <td class="image_circle">
                                            <h5>Sign up for the newsletter now!</h5>
                                    </td>
                                    <td class="docbooking">
                                            <h5>Responsive</h5>
                                    </td>
                                    <td class="docbooking">
                                        <h5>9:00 AM - 12:00 PM</h5>
                                        <h5>1:00 PM - 10:00 PM</h5>
                                    </td>
                                    <td class="manage_button">
                                        <button type="button" class="btn preca_txt" (click)="onPrecautions()" >PRECAUTIONS</button>
                                            </td>
                                    <td class="manage_button">
                                <button type="button" class="btn engage_txt">MANAGE</button>
                                    </td>
                                  
                                </tr>
                                <tr class="doctor_serial">
                                        <td>2</td>
                                        <td class="image_circle">
                                                <h5>Sign up for the newsletter now!</h5>
                                        </td>
                                        <td class="docbooking">
                                                <h5>Responsive</h5>
                                        </td>
                                        <td class="docbooking">
                                            <h5>9:00 AM - 12:00 PM</h5>
                                            <h5>1:00 PM - 10:00 PM</h5>
                                        </td>
                                        <td class="manage_button">
                                            <button type="button" class="btn preca_txt" (click)="onPrecautions()">PRECAUTIONS</button>
                                                </td>
                                        <td class="manage_button">
                                    <button type="button" class="btn engage_txt">MANAGE</button>
                                        </td>
                                      
                                    </tr>
                                    <tr class="doctor_serial">
                                            <td>3</td>
                                            <td class="image_circle">
                                                    <h5>Sign up for the newsletter now!</h5>
                                            </td>
                                            <td class="docbooking">
                                                    <h5>Responsive</h5>
                                            </td>
                                            <td class="docbooking">
                                                <h5>9:00 AM - 12:00 PM</h5>
                                                <h5>1:00 PM - 10:00 PM</h5>
                                            </td>
                                            <td class="manage_button">
                                                <button type="button" class="btn preca_txt" (click)="onPrecautions()">PRECAUTIONS</button>
                                                    </td>
                                            <td class="manage_button">
                                        <button type="button" class="btn engage_txt">MANAGE</button>
                                            </td>
                                          
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
</div>