.stock-reportinfo {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}
.stock-reportinfo .row {
    margin-right: 0;
    margin-left: 0;
}
.stock-reportinfo .col-lg-4 {
    padding: 5px;
    padding-left: 0;
}
.stock-reportinfo .col-lg-4:first-child {
    padding-left: 5px;
}
.widget-info {
    height: 136px;
    padding: 18px;
    background-color: #f7f9fd;
}
.widget-info h6 {
    font-size: 16px;
    font-weight: 600;
    color: #446b88;
    margin-bottom: 26px;
    margin-top: 0;
}
.widget-info p, .widget-info a .excel-icon  {
    line-height: 1.43;
    color: #333333;
    margin-bottom: 0;
}
.widget-info a, .widget-info a:hover {
    color: #0c949f;
    text-decoration: underline;
}
.widget-info a .excel-icon {
    width: 17px;
    margin-right: 5px;
}

@media screen and (max-width: 1199px) {
    .stock-reportinfo .col-lg-4 {
        padding-left: 5px;
    }
}