.widget_emlopyee{
    box-shadow: 0px 0px 4px 1px #e6e6e6;
    margin-top: 15px;
}
.doctor_checktxt[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 2.2ex;
    height: 1.3ex;
    background: transparent;
    top: 0.6ex;
    left: 0.4ex;
    border: 3px solid #68c7d0;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
 
 .doctor_checktxt[type="checkbox"] {
    line-height: 2.1ex;
 }
 
 .doctor_checktxt[type="radio"],
 .doctor_checktxt[type="checkbox"] {
     position: absolute;
     left: -999em;
 }
 
 .doctor_checktxt[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }
 
 .doctor_checktxt[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 3ex;
    width: 3ex;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    margin-right: 0.5em;
 }

 .applicable_check[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 2.2ex;
    height: 1.3ex;
    background: transparent;
    top: 0.6ex;
    left: 0.4ex;
    border: 3px solid #68c7d0;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
 
 .applicable_check[type="checkbox"] {
    line-height: 2.1ex;
 }
 
 .applicable_check[type="radio"],
 .applicable_check[type="checkbox"] {
     position: absolute;
     left: -999em;
 }
 
 .applicable_check[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }
 
 .applicable_check[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 3ex;
    width: 3ex;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    margin-right: 0.5em;
 }

 .applydoc_checktxt[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 2.2ex;
    height: 1.3ex;
    background: transparent;
    top: 0.6ex;
    left: 0.4ex;
    border: 3px solid #68c7d0;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
 
 .applydoc_checktxt[type="checkbox"] {
    line-height: 2.1ex;
 }
 
 .applydoc_checktxt[type="radio"],
 .applydoc_checktxt[type="checkbox"] {
     position: absolute;
     left: -999em;
 }
 
 .applydoc_checktxt[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }
 
 .applydoc_checktxt[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 3ex;
    width: 3ex;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    margin-right: 0.5em;
 }


.discount_poc p{
    margin-bottom: 0px;
}
.discount_poc .discount_input{
    border: 1px solid #d9d9d9;
    padding: 6px 0px 6px 7px;
    width: 100%;
}
.discount_poc .close_pocbtn{
    cursor:pointer;
    font-size: 45px;
    font-weight: 500;
    padding-left: 10px;
    line-height: 75px;
}
.discount_text{
    font-size: 12px;
    color: red;
}
.discount_poc .add_pocdiscountxt{
    color: #68c7d0;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 10px;
}
.discount_poc .add_button_discount{
    padding-top: 10px;
    margin-left: -18px;
}
.doctor_check{
    padding-left: 0px;
    margin-top: 6px;
}
.botton_txtsave{
    padding: 5px 0px;
    font-size: 14px;
    border-radius: 3px;
    width: 95px;
    color: #fff;
    background-color: #f15656;
}
////////////////

tr.row-name
{
       background-color: #F6FBFD; 
    }
tr.row-content
{
    color:#6c7173;
}

table
{
    border: 1px solid #eee;
}

td.check
{
    text-align: center;
}

a.btn-danger:hover
{
    background: #de6c69;
}

a.btn-danger
{
    background:#d9534f;  
}

a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff; 
    padding: 7px 10px; 
    border-radius:4px; 
}

a.btn-top:hover
{
    text-decoration: none;
    box-shadow:3px 3px 5px #222; 
    transition:box-shadow 0.5s; 
}
.user{
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.user img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
th .botton_txtsave {
    position: relative;
    margin-bottom: 0;
}