<div class="table_size">
    <hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
    <h1 class="page-title">Order List </h1>
    <!-- <h6 class="sub-title">Search orders</h6> -->
    <!-- <div class="row all_tableh">
        <div class="col-md-12">
            <form (ngSubmit)="getProductAdvisesForPocBasedOnPhnNoId(search.value)">
                <div class="row">
                    <div class="col-md-12">
                        <input type="radio" name="searchcriteria" value="orderId" checked
                            (change)="onSearchChange('orderId');search.value=''">
                        <label for="advice" class="radio_txt">Order ID</label>
                        <input type="radio" name="searchcriteria" value="contactNo"
                            (change)="onSearchChange('contactNo');search.value=''"> <label for="order"
                            class="radio_txt">Mobile
                            Number</label>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="search" #search class="serch_txt"
                                    placeholder="Enter Search query"
                                    (keypress)="validateWithCriteria(search.value,$event);" 
                                    (keyup.enter)="getProductAdvisesForPocBasedOnPhnNoId(search.value)" ngModel>
                                <button type="submit" class="btn btn-danger width-100 mb-xs">SEARCH</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary width-100 mb-xs reset_btn" role="button"
                            (click)="getRefreshedorderList(''); search.value=''"><span
                                class="glyphicon glyphicon-repeat"></span>REFRESH</button>
                    </div>
                </div>
            </form>
        </div> -->
    <form>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="search-orders">
                    <mat-label>Order ID/ Invoice Id/ Mobile Number</mat-label>
                    <input type="text" autocomplete="off" id="search" (keyup)="onEnterPressed($event)" matInput
                        placeholder="Enter Order ID/ Invoice Id/ Mobile Number">
                    <i class="fa fa-search" aria-hidden="true" matSuffix (click)="getProductAdvisesForPocBasedOnPhnNoId()"></i>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12 neworder-refresh">
            <button type="button" class="btn btn-primary searchresult_resetbtn" role="button" (click)="getRefreshedorderList('');">
                <span class="glyphicon glyphicon-repeat"></span>
                <span class="refresh_txt">REFRESH</span>
            </button>
            <button type="button" class="btn btn-primary button_addtxt" role="button" (click)="onGenerateNewAdvise()"><i
                    class="fa fa-plus add_txt" aria-hidden="true"></i>New Order</button>
        </div>
        <div class="col-lg-12">
            <section class="widget table_pading" widget>

                <div class="widget-body">
                    <hs-table [columns]="columns" [pagingList]="productList" [sort]="sorting" [dataMsg]='dataMsg'
                        (clickEvent)="clickEventHandler($event)" [componentId]="'productOrdersTable'" [perPage]="perPage"
                        (pageClick)="onPage($event)" [isNoDataFoundVisible]="isNoDataFoundVisible">
                        Loading table...
                    </hs-table>

                </div>
            </section>
        </div>
    </div>
</div>
<spinner-component></spinner-component>