.update_addresstxt{
    color: #1dc8d5;
}
.save_address{
    background-color: #14a9b5;
    color: #fff;
    text-transform: uppercase !important;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    float: right;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}
.save_border{
    border-top:none;
}
