.mat-form-field {
    width: 100% !important;
    min-width: 150px;
}

.date_txt ::ng-deep .datepicker {
    width: 100% !important;
    min-width: 150px;
}

.date_txt ::ng-deep .datepicker input {
    text-align: left !important;
}

@media screen and (min-width:992px) {
    .orderIdmrgn .search-orders {
        margin-top: 24px !important;
    }
}

.btn{
    margin-top: 5px;
}

.float-right {
    float: right;
}

.buttonCounts {
    margin-left: 0px;
}

.paymentPendingOrders {
    background-color: #f59a4b;
}

.cancelledOrders {
    background-color: #999999;
}

.appOrders{
    background-color:#FF6D6D;
}
.centerOrders{
    background-color:rgb(213, 140, 213);
}
.websiteOrders{
    background-color:cornflowerblue;
}

.notification {
    color: white;
    text-decoration: none;
    padding: 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin: 5px;
    border: 1px solid #00000073;
}
.notification .inside-badge{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-color: #555555;
    border-radius: 100px;
    margin-left: 5px;
}


.notification:focus {
    outline: none;
}

.filter-bypoc .select_poc {
    height: 45px !important;
    border-radius: 4px;
}
.list_walkin ::ng-deep .table-responsive{
    overflow-y: auto !important ;
   max-height: 480px !important;
   height: 100% !important;
}
@media only screen and (min-width:600px){
.list_walkin ::ng-deep  #centralWalkinOrderListTable #col_0,
.list_walkin ::ng-deep  #centralWalkinOrderListTable #head_0 {
    z-index: 1000 !important;
    min-width: 111px;
    position: sticky;
    left: 0;
}

.list_walkin ::ng-deep #centralWalkinOrderListTable #col_1,
.list_walkin ::ng-deep #centralWalkinOrderListTable #head_1 {
    left: 108.9688px !important;
    z-index: 1001 !important;
    position: sticky;
}

.list_walkin ::ng-deep  #centralWalkinOrderListTable #col_2,
.list_walkin ::ng-deep  #centralWalkinOrderListTable #head_2 {
    left: 207.031px !important;
    z-index: 1002 !important;
    position: sticky;
   
}
.list_walkin ::ng-deep tr.mat-header-row{
    position: sticky !important;
    top: 0 ;
    z-index: 9001;
}
}

.list_walkin ::ng-deep  #centralWalkinOrderListTable #col_3,
.list_walkin ::ng-deep  #centralWalkinOrderListTable #head_3 {
    left: 0 !important;
    min-width: 160px;
}

.list_walkin ::ng-deep  #centralWalkinOrderListTable #head_1 :after,
.list_walkin ::ng-deep  #centralWalkinOrderListTable #head_2 :after,
.list_walkin ::ng-deep  #centralWalkinOrderListTable #col_1 :after,
.list_walkin ::ng-deep  #centralWalkinOrderListTable #col_2 :after  {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    top: 0px;
    border-right: 1px solid #e0e0e0 !important;
}

.order_search .search-orders {
    margin-top: 27px;
}
.widget.hs-table{
    z-index: 0 !important;
}

@media screen and (max-width:991px) {
    .order_search .search-orders {
        margin-top: 0px;
    }
}
@media screen and (max-width:600px) {
    .list_walkin ::ng-deep .vdcheader tr{
      display: none;
    }
}