<div class="table_size">
    <hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
    <h1 class="page-title">Order List</h1>

    <form>
        <div class="row">
            <div class="col-lg-4 orderid-margin">
                <mat-form-field appearance="outline" class="search-orders mt-2">
                    <mat-label>OrderID</mat-label>
                    <input type="text" autocomplete="off" id="search" [(ngModel)]="searchCriteria"
                        name="search-criteria" matInput placeholder="Enter OrderID" (keypress)="validateAlphaNumberInputOnly($event)"  maxlength="10">
                    <i class="fa fa-search" aria-hidden="true" matSuffix (click)="getInvoiceAdviceBasedOnOrderId()"></i>
                </mat-form-field>
            </div>
            <!-- </div>
     -->
            <div class="col-lg-8">
                <h6 class="sub-title">Filter by Date</h6>
                <div class="row">

                    <div class="form-group col-sm-4">

                        <datetime [(value)]="startDate" name="startDate" id="datepicker" [datepicker]="datepickerOpts"
                            (dateChange)="startDateChoosen($event)" [timepicker]="false"></datetime>
                    </div>
                    <div class="form-group col-sm-4">

                        <datetime [(value)]="endDate" name="endDate" id="datepicker" [timepicker]="false"
                            [datepicker]="datepickerOptEnd">
                        </datetime>
                    </div>
                    <div class="form-group col-sm-4 submit-btn">
                        <button class="btn btn-danger  sub_txt width-100" role="button" (click)="onSubmit()">
                            Submit
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <h6>Filter by Center</h6>
                        <select class="form-control select_poc" (change)="onPOCSelect($event.target.value)"
                            [ngModelOptions]="{standalone : true}" [(ngModel)]="supplierPocId">
                            <option value=0>All Centers</option>
                            <option *ngFor="let poc of suppliersList;let i = index" [value]=poc.pocId>
                                {{poc.pocName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <h6>Filter by Status</h6>
                        <select class="form-control" (change)="onFilterChanged($event.target.value)"
                            [ngModelOptions]="{standalone : true}" [(ngModel)]="stausFilterValue">
                            <option value=-1>Select all</option>
                            <option value=0>Pending</option>
                            <option value=2>Accepted</option>
                            <option value=3>Invoiced</option>
                            <option value=4>Dispatched</option>
                            <option value=5>Delivered</option>
                            <option value=21>Rejected</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12 neworder-refresh">
            <button type="button" class="btn btn-primary searchresult_resetbtn" role="button"
                (click)="getRefreshedorderList()">
                <span class="glyphicon glyphicon-repeat"></span>
                <span class="refresh_txt">REFRESH</span>
            </button>
        </div>

        <div class="col-lg-12">
            <section class="widget table_pading hs-table" widget>

                <div class="widget-body">
                    <hs-table [columns]="columns" [pagingList]="invoiceList" [sort]="sorting" [dataMsg]='dataMsg'
                        (clickEvent)="clickEventHandler($event)" [componentId]="'supplierInvoiceTable'"
                        [perPage]="perPage" [total]="total" (pageClick)="onPage($event)">
                    </hs-table>
                </div>
            </section>
        </div>
    </div>

</div>
<spinner-component></spinner-component>