.service_portfolio{
  box-shadow: 0px 0px 4px 1px #e6e6e6;
  margin-top: 20px;
}
.service_rep{
  margin-left: 27px;
}

.special-title{
  color:#1dc8d5;
  margin: 9px;
}
.Update{
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  background-color: #ff6d6d;
  border: solid 1px #ec6262;
  padding: 5px 30px;
  text-transform: uppercase;
  color: #fff !important;
}

.medical_services{
  font-size: 17px;
    color: red;
}
.team-box{box-shadow: 0px 0px 4px 1px #e6e6e6;
  margin-top: 20px;
  height: 450px;}
  
  .team-img img {    width: 150px;
    height: 150px;
    border: 5px solid #021a40;
    border-image: linear-gradient(#fdfbf7, #e5e6e3) 30;}
  .team-title h3 {font-size:16px;font-weight:600;color:#000 ;}
  .team-title h4 {font-size:16px; font-weight:600;}
  .team-title p {line-height:22px;}