@import "../../../scss/variables";
@import "../../../scss/theme.scss";
.model_newadvice{
    max-width: none !important;
}
.open > .misc_testdrop{
    display: none;
}
.ok_button{
background: #005d97;
border: none;
color: #fff;
padding: 3px 30px;
border-radius: 4px;
font-weight: 600;
cursor: pointer;
}
.ok_cancel{
    float: right;
}
.cancel_button{
background: #e34131;
color: #fff;
padding: 3px 25px;
border: none;
border-radius: 4px;
text-transform: uppercase;
font-weight: 600;
cursor: pointer;
}
.advice_text{
    padding-left: 0px;
}
.advice_text h2{
     font-size: 30px;
    color: #14a9b5;
    font-weight: 500;
}
.generic_control{
    font-weight: 400;
    padding: 0px 12px;
    box-shadow: none;
    border-radius: 0px;
    width: 90%;
}
.patient_txt{
float: left;
}
.color_cash{
    font-size: 500;
}
.newadd_patient {
   position: relative;
    margin-bottom: 35px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 0.2rem;
    height: 80px;
    margin-top: 10px;
  
}
.newadd_patient .patient_txt h4,.newadd_patient  .patient_txt p{
    margin: 0px;
    font-weight: 400;

}
.generic_pupop{
        width: 850px;
    height: 435px;
}
.newadvice_body{
padding: 35px 45px 0px 45px !important;
}
.welcome_text{
       color: #218BC3;
       font-size: 22px;
}
.fname-txt{
    width: 100px;
    font-size: 13px;
    text-align: center;
    resize: none;
    height: 25px;
}
.with_txt{
    font-size: 10px;
    margin-bottom: 0px;
    line-height: 10px;
}
.unit_rate{
    font-size: 11px;
    padding-right: 0px;
}
.unit_nan{
    padding-left: 0px;
    font-size: 12px;
    padding-top: 5px;
}
.schedule_txt{
margin-bottom: 0px !important;
font-size: 11px;
}
.error_Messages {
    list-style-type: none;
    margin: 5px 15px 0px 0px!important;
    padding: 0px 0px 0px 0px!important;
    color: #B94A48;
    background-color: #F2DEDE;
    border: none !important;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 11px;
    background-color: transparent!important;
}
.advice_table{
    margin-bottom: 4px;
    }
 .error_advicetab{
 
border: none !important;
padding: 0px !important;
}
.error_advicetab .quantity_txt{
padding: 0px;
margin: 0px;
color: #ff0000;
text-align: right;
padding-right: 100px;
font-size: 12px;
padding-bottom: 5px;
}
.other_discount .quantity_txt{
    padding: 0px;
    margin: 0px;
    color: #ff0000;
    text-align: left;
    padding-right: 100px;
    font-size: 12px;
    padding-bottom: 5px;
    }
.other_discount .quantity_txt sup{
    font-size: 18px;
    top: -1px;
}
.error_advicetab .quantity_txt sup{
    font-size: 18px;
    top: -1px;
}

.select_batch{
    font-weight: 600;
    font-size: 25px;
     color: #218BC3;
}

.input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.fname_2txt{
    width: 100%;
    font-size: 13px;
    text-align: left;
    
}
.fname_3txt{
    width: 100px;
    font-size: 13px;
    text-align: center;
   
}
.fname_4txt{
    width: 100px;
    font-size: 13px;
    text-align: center;
   
}
.fname_5txt{
    width: 100px;
    font-size: 13px;
    text-align: center;
    pointer-events: none;
}
.fname_discount_text{
    max-width: 65px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    padding-left: 13px;
}
.fname_6txt{
    width: 50px;
    font-size: 13px;
    text-align: center;
}
.widget_txt11 {
    position: relative;
    margin-bottom: 35px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 0.2rem;
    height: 80px;
    margin-top: 10px;
    
   }
.brand-txt {
    width: 140px;
    font-size: 13px;
    text-align: center;
    resize: none;
    height: 25px;
}
.autocom_box .completer-holder .completer-input{
width:130px;
}
.table > thead > tr > th {
    width: 215px;
}
input[placeholder], [placeholder], *[placeholder] {
    color: #000 !important;
}
.perscripton_txt{
   font-size: 24px;
  color: rgba(20, 169, 181, 0.8);
  font-weight: 500;
  
  }
.rate_nan{
    font-size: 14px;
}
.with_taxes{
font-size: 12px;
}
.from_txt{
   width: 540px;
}
.from_txt, .submit_txt{
    float: right;
}
.add_medtxt{
    padding: 0px 43px 0px;
    font-size: 30px;
    color: $title-color;
    font-weight: 500;
}

.model_txt{
    float: right;
    right: 0px;
    width: 400px;
}
.model_txt1{
    float: right;
    right: 0px;
    width: 40%;
}
.modal-body {
    position: relative;
    padding: 0px 45px 0px !important;
}


/*Left*/
    .modal.left .modal-dialog{
        right: -320px;
        -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
             -o-transition: opacity 0.3s linear, left 0.3s ease-out;
                transition: opacity 0.3s linear, left 0.3s ease-out;
    }
    
    .modal.left.in .modal-dialog{
        right: 0;
         margin: 0px;
        position: relative;
    height: 100%;
    }


.modal.right.fade .modal-dialog {
        right: -320px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
           -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
             -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    .modal.left.in .modal-dialog,
    .modal.right.in .modal-dialog {
        right: 0;
    margin: 0px;
        position: relative;
    height: 100%;
    }
  .modal-content {
        border-radius: 0;
        border: none;
        min-height: 100%;
        margin: 0 auto;
        bottom: 0;
    }
    .input_date .form-control{
    padding: 10px 5px;
}
    .dropdown-menu {
    font-size: 13px;
    padding: 20px 15px;
}

    .modal-header {
    border-bottom-color: transparent;
    background-color: transparent;
      padding: 15px 15px 11px 0px;
    border-bottom: none;
}
.close_txt{
   font-size: 40px;
}
.Update {
  width: 172px;
  height: 17px;
 
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 172px;
  height: 40px;
  border-radius: 2px;
  background-color: #ff6d6d;
  border: solid 1px #ec6262;
}
.all_textboxtxt {


  font-size: 14px;
  width: 100%;
}

.submit_txt{
    background-color: #dd5826;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 35px;
    font-weight: 500;
}
.submit_txt:focus{
   outline: none;
}
.total_txt{
   font-weight: 500 ;
}
.form-inline .input-group{
   display: flex;
}

@media only screen and (min-width: 320px) {
.newadd_patient{
    height: 170px;
}
.widget-body { overflow-x: scroll; }
.newadd_patient .patient_txt h4{
    font-size: 16px;
}
.newadd_patient .patient_txt p{
    font-size: 13px;
}
.patient_txt{
    padding-bottom: 8px;
}
input[placeholder], [placeholder], *[placeholder] {
    color: #000 !important;
    border: 1px solid rgba(0, 0, 0, 0.47);
}
.from_txt {
    width: auto;
}
.modal-header{
    padding: 15px 15px 11px 30px;
}
.modal-body {
    position: relative;
    padding: 0px 45px 0px 75px !important;
}
}


@media only screen and (min-width: 640px){

.newadd_patient {
    height: 70px;
}
.newadd_patient .patient_txt h4 {
    font-size: 13px;
}
.from_txt {
    width: 540px;
}

.modal-header{
    padding: 15px 15px 11px 0px;
}
.modal-body {
    position: relative;
   padding: 0px 45px 0px 45px !important;
}

}

@media only screen and (min-width: 1200px) {
.newadd_patient .patient_txt h4{
    font-size: 21px;
}
 .newadd_patient{
    height: 80px;
}
.patient_txt{
    padding-bottom: 0px;
}
.from_txt {
    width: 540px;
}
.widget-body {
     overflow-x:hidden; 
}
.modal-body ,.newadvice_body{
    position: relative;
   padding: 35px 45px 0px 45px !important;
}
}
input[type='number'] {
    appearance:textfield;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    }
.other-paymentdetails{
    display: none;
    margin-bottom: 10px;
}
.other-paymentdetails input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: calc(2.5rem - 2px);
}
#other-payment:checked ~ .other-paymentdetails{
    display: block !important;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .from_txt {
        width: 490px;
    }
}
.other-discount{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.immuneadvice_widget .table {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .immuneadvice_widget {
        border: none !important;
    }
    .model_txt {
        width: 100%;
    }
}
table td .tabledatalabel-right .noscroll {
    width: 100px;
}
.tabledatalabel-right input {
    text-overflow: ellipsis;
    white-space: nowrap;
}

