@import "../../../../../scss/variables";
@import "../../../../../../../node_modules/bootstrap/scss/_variables";
@import "../../../../../../../node_modules/bootstrap/scss/mixins";
.grapps_txt{
    margin: 8px 8px;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    height: 465px;
}
.days7_txt {
    padding-right: 12px;
}
.grapps_txt  h3{
   
        padding-top: 14px;
     
}
.set_margin{
    margin-top:  25px;
}
 
svg{
    width: 50%;
}
.nvd3 g.nv-groups path.nv-line {
  stroke-width: 1px;
}
.custom_date .custom_dropdown{
    position: fixed;
    height: 73px;
    z-index: 10001;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
    width: 100%;
    padding: 15px 0px;
    margin-left: -5px;
    margin-top: -30px;
}
