$sidebar-color : #FF7B28;
$sidebar-activebg-bg: #FF7B28;
$btn-bg-color: #FF7B28;
$sidebar-bg-color: #FFCE4D;
$sidebar-link-border: #FFCFB4;
$sidebar-dropdown-bg: #FFF1E9;
$bg-doctor-info: #F9F9FA;
$doctor-info-color: #626C74;
$title-color: #FF7B28;
$btn-primary: #FF7728;
$brand-primary: #FF7728;
// $table-head-bg: linear-gradient(0deg, #FFE4D4, #FFE4D4), linear-gradient(0deg, #FFF1E9, #FFF1E9);
$table-head-bg: linear-gradient(0deg, #FFE4D4, #FFE4D4), linear-gradient(0deg, #FFF1E9, #FFF1E9);
$bottom-color: #FF7728;
$btn-secondary: #FF7728;
$table-bg-header: #FFE4D4;
$link-color: #FF7B28;
$btn-border-color: #FF7728;
$title-color: #CC5F20 !default;
$border-radius: 15px;
$sidebar-input-color: #F9F9FA;
$btn-walk-color: #FF7728;
$login-btn: #FF7728;
$btn-next:#FF7728;
$btn-info-outline:#FF7728;
$btn-danger-bg:#FF7728;
$btn-danger-border:#FF7728;
$precription-title:#FF7B28;
$precription-document-title:#FF7B28;
$text-secondary-color:#FF7B28;
$reset-btn-bg:#FF7728;
$brand-info:#FF7728;
$brand-danger:#FF7728;