.disable_btn{
    pointer-events: none;
}
.table td > .abc-checkbox,
.table th > .abc-checkbox {
  > label:before,
  > label:after {
    margin-left: -16px;
  }
}

.table_head .all_engage{
    padding: 7px 0px 3px;
 }
.table_head th:after,
.table_head th.sort-false:after,
.table_head th.sort-true:after {
    font-family: FontAwesome;
    padding-left: 5px;
}
.table_head th.sort-default:after {
    content: "\f0dc";
    color: #ddd;
}
.table_head th.sort-false:after {
    content: "\f0de";
    color: #767676;
}
.table_head th.sort-true:after {
    content: "\f0dd";
    color: #767676;
}

@import '../message/message.style.scss'