// @import "../../../assets/jeevone/themes/theme.scss";
@import "../../scss/variables";
.footer_color {
    background-color: #fff;
}

.ic_footer {
    width: 25px;
    height: 25px;
    display: block;
    color: transparent !important;
}


.ic_fb {
    background: url('../../../assets/img/sprite.png') 0 -120px;
}

.ic_tw {
    background: url('../../../assets/img/sprite.png') -100px -120px;
}

.ic_in {
    background: url('../../../assets/img/sprite.png') -65px -120px;
}

.ic_hs {
    background: url('../../../assets/img/sprite.png') -32px -120px;
}

.social {
    margin-bottom: 0px;
}

.copyright_txt {
    padding: 23px 0px;
    margin-bottom: 0px;
}

.copyright_txt li {
    display: inline;


}

.social li {
    display: inline;
    float: left;
    padding: 20px 5px;
}

.footer .navbar-default {
    border-top: 1px solid #F0F0F0;
    box-shadow: 0 0 0 0;
    margin-top: 25px;
}

.footer-content {
    margin-top: 5vh;
    margin-left: 220px;
}

@media screen and (max-width: 767px) {
    .footer-content {
        margin-left: 5px;
    }
}

.copyright_txt {
    li {
        a {
            
                color: $link-color;
        }
    }
}