.OT_subscriber{
    width: 100% !important;
    /* min-height: 145.943px !important;
    height: 145px !important; */
}

.smallCard ul {
    padding-left: 0px !important;
}

.OT_mini {
    min-height: 115.128px !important;
    height: 115.128px !important;
}
