
.card-effect{
    box-shadow: #00000029 5px 3px 5px, #00000029 -4px -5px 6px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 5px;
}
.use-wallet{
    padding: 15px 15px;
}
.inpt-fld .mat-form-field{
    min-width: 120px;
    width: 100%;
    max-width: 180px;
}
