.sgst_txt {
    font-size: 23px;
    top: -1px;
    color: #ff0000;
}

.subbtn {
    float: right;
    margin: 15px
}

.submit_txt {
    background-color: #dd5826;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 35px;
    font-weight: 500;
}

.submit_txt:focus {
    outline: none;
}
