.edit-icon {
    float: right;
    margin-right: 15px;
    // opacity: .2;
    margin-top: 3px;
    font-size: 23px;
    cursor: pointer;
  }
.brandName{
    float: right;
    margin-right: 15px;
}
.text-line{
    border: 1px solid black; 
    width: 50%;
    float: left;
}
