 
.address_location{
    margin-left: 30%;
    padding: 6rem 2rem;

.content_section{
    padding: 0px 15px;
}
.page-title{
    font-weight: 600;
}
span{
    position: absolute;
    right: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #41484D;
    margin-bottom: 2rem;
}
label{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #41484D;
}
input{
    border: 1px solid #EDEEF0;
    border-radius: 4px;
}

::placeholder {
    color: #859098;
  }

.d-flex{
    display: flex;
}
.add-another-no-btn button{
    color: #187CA8;
    border: 1px solid #187CA8;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.work_place_btn button{
    padding: 8px 16px;
    border: none;
    background: #DF5B21; 
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.location 
{   
    background: #F4FBFD;
    border: 1px solid #DEF2FA;
    border-radius: 4px;
    padding: 10px 10px 0px 10px;
    .location_find{
        display: flex;
        cursor: pointer;
    }
    i{
        color: #187CA8;   
    }
     h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #187CA8;
    padding-left: 10px;
    }
    p{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #626C74;
        padding-left: 37px;
    }
}

}
@media only screen and (max-width: 1000px) and (min-width: 769px)  {
    .address_location{
        margin-left: 35%;
    }
}
@media only screen and (max-width: 768px) {
    .address_location{
        margin-left: 0%;
        .d-flex{
            flex-direction: column;
         }
    }
    
  }
  @media only screen and (max-width: 575px) {
    .address_location{
        padding: 7rem 1rem;
        padding-bottom: 1.2rem;
        span{
            top: 85px;
       }
    }
    
  }