
.text-center {
    text-align: center !important;
}
.subscription-confirm h1{
    color: #333;
}
.subscription-confirm p, .subscription-cart p {
    font-size: 1.125rem;
}
.subscription-confirm span, .subscription-cart small {
    font-size: 0.875rem;
}
.confirm-info {
    background-color: #e0e8ef;
}
.text-center p {
    margin-bottom: 0 !important;
}
.text-center h1{
    margin-bottom: 26px !important;
}
.subscriber-info p{
    margin-bottom: 0px;
}
.text-right {
    text-align: right !important;
}

.botton_txtback {
        padding         : 5px 15px;
        font-size       : 14px;
        border-radius   : 3px;
        color           : #fff;
        background-color: #f10707;
        margin-right    : 0px;
        margin-top      : 15px;
    }
