@import "../../../../scss/variables";
@import "../../../../scss/theme.scss";
.advice_text{
    padding-left: 0px;
}
.advice_text h2{
font-size: 30px;
    color: #14a9b5;
    font-weight: 500;
}
.patient_txt{
float: left;
}
.with_txt{
margin-bottom: 0px;
font-size: 11px;
}
.schedule_txt{
    border-top: none!important;
    padding: 0px !important;
    color:#000;
   
    font-size: 12px;
    margin-bottom: 0px;

}
.widget_txt2 {
   position: relative;
    margin-bottom: 35px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 0.2rem;
    height: 80px;
    margin-top: 10px;
  
}
.widget_txt2 .patient_txt h4,.widget_txt2  .patient_txt p{
    margin: 0px;
    font-weight: 400;

}
.fname-txt{
width: 120px;
font-size: 13px;
    text-align: center;
}
.fname_2txt{
    width: 60px;
    font-size: 13px;
    text-align: center;
}
.fname_3txt{
width: 70px;
font-size: 13px;
    text-align: center;
}
.fname_4txt{
width: 110px;
font-size: 13px;
    text-align: center;
}
.fname_5txt{
width: 130px;
font-size: 13px;
    text-align: center;
}
.fname_6txt{
width: 50px;
font-size: 13px;
    text-align: center;
}
input[placeholder], [placeholder], *[placeholder] {
    color: #000 !important;
}
.perscripton_txt{
font-size: 24px;
  color: rgba(20, 169, 181, 0.8);
  font-weight: 500;
  
  }
.from_txt{
width: 350px;
}
.from_txt, .submit_txt{
    float: right;
}
.add_medtxt{
padding: 0px 43px 0px;
    font-size: 30px;
    color: $title-color;
    font-weight: 500;
}

.model_txt{
float: right;
    right: 0px;
    width: 400px;
}
.modal-body {
    position: relative;
    padding: 0px 45px 25px !important;
}

.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
    margin: 0px;
	}
  .modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
	border-bottom-color: transparent;
    background-color: transparent;
      padding: 15px 15px 11px 0px;
    border-bottom: none;
}
.close_txt{
font-size: 40px;
}
.Update {
  width: 172px;
  height: 17px;
 
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  width: 172px;
  height: 40px;
  border-radius: 2px;
  background-color: #ff6d6d;
  border: solid 1px #ec6262;
}
.all_textboxtxt {


  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.prient_txt{
background-color: rgba(123, 106, 106, 0.38) !important;
    border: 1px solid #ececec !important;
    color: #000 !important;
    margin-right: 0px;
}

.submit_txt{
    background-color: #dd5826;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 35px;
    font-weight: 500;
    margin-right: 10px;
}

.total_txt{
    font-weight: 500;
}
.table {
    margin-bottom: 0;
}

@media screen and (max-width: 575px) {
    .from_txt{
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .invoice_widget .table-datalabel {
        border: none !important;
    }
    ::ng-deep .mat-form-field {
        width: 100% !important;
    }
}

@media screen and (min-width: 601px) {
    .invoice_widget .table {
      border-bottom: 2px solid #e6e6e6 !important;
      min-width: 1105px !important;
    }
    .invoice_widget .widget-body {
      border-top: 2px solid #e6e6e6 !important;
    }
    .invoice_widget .addemptyspace {
      height: 137px;
    }
    .invoice_widget .table-striped td input {
      width: 100px;
    }
  }