<hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 editprocessid_text">
        <h1 class="page-title">{{processOrderDetails.orderId}}</h1>
    </div>
</div>
<div class="col-lg-12">
    <section class="newadd_editprocess row" widget="">
        <div class="col-md-4 col-sm-4 col-xs-12 editprocess_txt patientpop">
            <p>Patient</p>
            <h4>{{processOrderDetails.cartItem.patientProfileDetails.title?processOrderDetails.cartItem.patientProfileDetails.title+". ":''}}{{processOrderDetails.cartItem.patientProfileDetails.fName}}
                {{processOrderDetails.cartItem.patientProfileDetails.lName?processOrderDetails.cartItem.patientProfileDetails.lName:''}}
            </h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 editprocess_txt editprocess_jpg">
            <p>Delivery Area &amp; Address</p>
            <h4 class="processorder_address"> {{processOrderDetails.address}}
            </h4>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 editprocess_txt editprocess_jpg">
        </div>

    </section>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 editprocessid_text editprescription_text"
    *ngIf="processOrderDetails.cartItem.proofDocumentUrlList!=null && processOrderDetails.cartItem.proofDocumentUrlList.length>0">
    <h2>Prescription Documents</h2>
</div>

<div class="col-lg-12"
    *ngIf="processOrderDetails.cartItem.convertedDocumentUrlList!=null && processOrderDetails.cartItem.convertedDocumentUrlList.length>0">
    <section class="newadd_process  row" widget="">
        <div class="col-lg-12 prescription_scroll"
            *ngFor="let item of processOrderDetails.cartItem.convertedDocumentUrlList ; let i =index">
            <div *ngIf="item.substring(item.lastIndexOf('.') + 1,item.lastIndexOf('.') + 4).toString() != 'pdf'">
                <img alt=" " [attr.src]='item' (click)="sliderImage(item,'img')" class="image_clickpopup"
                    data-toggle="modal" data-target="#sliderimagepopup">
            </div>
            <div *ngIf="item.substring(item.lastIndexOf('.') + 1,item.lastIndexOf('.') + 4).toString() == 'pdf'">
                <embed width="100%" height="100%" id="pdfEmbed" />
                <img alt=" " src='assets/img/partner/pdf_icon_read.png' (click)="sliderImage(item,'pdf')"
                    class="image_clickpdf" data-toggle="modal" data-target="#sliderimagepopup">
            </div>
        </div>
    </section>
</div>

<div id="sliderimagepopup" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close slider_close{
                            " data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="prescription-modal">
                <form name="info_form" class="form-inline" action="#" method="post">
                    <div class="form-group">
                        <img [src]="crouselSelectedImage" class="image_sliderpop" *ngIf="prescriptionType=='img'">
                    </div>
                    <div id="pdfView3" class="pdf" *ngIf="prescriptionType!='img'">
                        <object class="embed_tool" width="100%" height="100%" id="pdfView2"
                            (clikc)="hideToolBar($event)" type="application/pdf"> </object>
                    </div>
                    <div class="form-group image_download">
                        <a href={{crouselSelectedImage}} class="download_imagetxt" target="_blank">Download</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 editprocessid_text">
        <h2>Order Details</h2>
    </div>
    <!-- <div class="col-md-6 col-sm-6 col-xs-6 processid_text">
        <button class="btn editaddmedicine_btn" type="button" (click)="addNewMedicineRow()">
            <i class="fa fa-plus editadd_txt" aria-hidden="true"></i>Add Product</button>
    </div> -->
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <section class="editprocess_widget table_pading" widget="">

            <div class="widget-body">
                <table class="table table-hover table-striped hs_tabletxt editprocess_widget">
                    <thead>
                        <tr class="table_head">
                            <th class="">#</th>
                            <th class="">Product Name</th>
                            <th>Quantity</th>
                            <th>Gross Price (Per unit)</th>
                            <th>Total Tax</th>
                            <th>Total Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of processOrderDetails.cartItem.productList ; let i=index ">
                            <td>{{i+1}}</td>
                            <td class="searchtable_prescription">
                                <hs-select [defaultSelectLabel]="'Product Name'" [selectColumns]="selectColumns" [defaultSelected]="item" [defaultSelectField]="'productName'" [selectTotal]="productNameSelectTotal" [selectResults]="productNameSearchResults" [hardReset]="productNameHardReset"
                                    (searchTrigger)="productNameSearchTrigger($event)" (selectTrigger)="selectTrigger($event, i)" (keyup)="onProductChange()"></hs-select>
                            </td>
                            <td class="quntity_txtbut">
                                <input type="text" class="form_control" [(ngModel)]="item.quantity" maxlength="3" (keyup)="onQuantityChange()" (change)="onQuantityChange()" (keypress)="validation.onlyNumbers($event)">
                            </td>
                            <td class="quntity_txtbut">
                                <input type="text" class="form_control" [(ngModel)]="item.grossPrice" (ngModelChange)="item.grossPrice" (keyup)="onQuantityChange()" (change)="onQuantityChange()" (keypress)="validation.onlyDecimalValueTillTwoDigits($event)">
                            </td>
                            <td>
                                &#8377; {{item.taxationAmount | number : '1.2-2'}}
                                <br> CGST({{item.taxes?item.taxes.cgst:0}}%): &#8377; {{item.totalTaxes?item.totalTaxes.cgstAmount:0 | number : '1.2-2'}}
                                <br> SGST({{item.taxes?item.taxes.sgst:0}}%): &#8377; {{item.totalTaxes?item.totalTaxes.sgstAmount:0 | number : '1.2-2'}}
                                <br> IGST({{item.taxes?item.taxes.igst:0}}%): &#8377; {{item.totalTaxes?item.totalTaxes.igstAmount:0 | number : '1.2-2'}}
                            </td>
                            <td>
                                <span>&#8377; {{item.finalAmount | number : '1.2-2'}} </span>
                            </td>
                            <td>
                                <i aria-hidden="true" class="fa fa-times editremove_txt" id="removeButton" (click)="remove(i)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>

    </div>
</div> -->


<prodsales-component [cartItem]='cartItem' (changeValue)="cartUpdate($event)"></prodsales-component>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 editprocess_form">
        <form action="#" class="from_txt" novalidate="">
            <div class="row edit_process">
                <div class="col-md-6 col-xs-6">
                    <button role="button" class="editprocessbotton_txt editprocessdone_txt"
                        (click)="onGenerateBack()">BACK</button>
                </div>
                <div class="col-md-6 col-xs-6">
                    <button class="editprocesssubmit_txt" role="button" (click)="onSubmitForCalculation()">NEXT</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--  popup model end here -->
<spinner-component></spinner-component>