<div class="col-md-12 col-sm-12 col-xs-12 advice_text">
    <h1 class="page-title">New Order Details</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <section class="newadd_patient" widget="">
            <div class="col-md-4 col-sm-4 col-xs-12 patient_txt patientpop">
                <p>Patient
                    <i *ngIf="!cartItem.orderId" aria-hidden="true" class="fa fa-plus add_patient" data-toggle="modal" data-target="#registerPatientModal" data-backdrop="static" data-keyboard="false"></i>
                </p>
                <h4 *ngIf="cartItem.patientProfileDetails">
                    {{cartItem.patientProfileDetails.title?cartItem.patientProfileDetails.title+". ":''}} {{cartItem.patientProfileDetails.fName}} {{cartItem.patientProfileDetails.lName?cartItem.patientProfileDetails.lName:''}}
                </h4>
            </div>
        </section>
    </div>
</div>
<hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
<div class="editprocessid_text">
    <h2>Order Details</h2>
</div>
<prodsales-component [cartItem]='cartItem' (changeValue)="cartUpdate($event)"></prodsales-component>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form action="#" class="from_txt productnewadvice_fromtxt">
            <div class="row">

                <ng-template [ngIf]="this.cartItem.parentProfileId>0">
                    <app-cartdiscount [parentProfileId]="this.cartItem.parentProfileId" [cartItemDetails]="this.cartItem" [discountType]="this.discountType" [pocId]="this.pocId" [isOldRecord]="this.isOldRecord">
                    </app-cartdiscount>
                </ng-template>

                <span class="row" style="margin:0px;width: 100%;" *ngIf="checkFinalAmount()">
                    <div class="col-md-5 col-sm-6 col-xs-12 total_txt">Payment Mode : </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <form action="#" class="color_cash">
                            <input type="radio" name="paymant" value="0"
                                [checked]="paymentModeIndex==2 || !paymentModeIndex"
                                (change)="checkPaymentModeSelection(2)"> Cash
                            &nbsp;&nbsp;<input type="radio" name="paymant" value="1" [checked]="paymentModeIndex==5"
                                (change)="checkPaymentModeSelection(5)"> Mobile
                            &nbsp;&nbsp;<input type="radio" name="paymant" value="2" id="other-payment"
                                [checked]="paymentModeIndex!=2 && paymentModeIndex!=5"
                                (change)="checkPaymentModeSelection(9)"> Others
                            <div class="other-paymentdetails">  
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6 pr-0">
                                        <select class="form-control"
                                            (change)="checkPaymentModeSelection($event.target.value)">
                                            <option value="0">Select</option>
                                            <option value="1">Card</option>
                                            <option value="8">PhonePe</option>
                                            <option value="6">Google Pay</option>
                                            <option value="7">PayTM</option>
                                            <option value="11">NEFT</option>
                                            <option value="12">UPI</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" placeholder="Transaction Id" class="form-control"
                                            [(ngModel)]="transactionId" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </span>

                <br>
                <br>
            </div>
            <div hs-notification></div>
        </form>
    </div>
</div>
<br>

<div>
    <button class="editprocesssubmit_txt" role="button" (click)="onSubmitForCalculation()">Submit</button>
</div>
<!-- ***************************************** -->
<div class="modal left" id="registerPatientModal">
    <div class="modal-dialog model_txt1 patientregister-modaldialog" role="document">
        <div class="modal-content patient-registerpopup">
            <patientregister-component [isPatientFetch]='true' [componentId]="'registerPatientModal'" (closeModel)="closeModel('#registerPatientModal')" (onRegisterNewUser)="onRegisterNewUser($event)">
            </patientregister-component>
        </div>
    </div>
</div>


<!--  popup model end here -->
<spinner-component></spinner-component>