@import "../../../../pharmacy/advice/component/newadvicedetails/newadvicedetails.style.scss";
input[placeholder]{
    border: none;
}
#matDiscount{
    width: 10vw !important;
}
.processorder_table{
    position: relative !important;
    z-index: 9 !important;
  }
.editprescription_text {
    padding-left: 0px;
}
.reject_btn {
    background-color: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff;
    float: right;
    font-size: 15px;
    font-weight: 600;
}
.widget-body{
    overflow-x: unset !important;
}


.editprocessid_text h2 {
    font-size: 30px;
    color: #14a9b5;
    font-weight: 500;
}
.newadd_editprocess {
    position: relative;
    margin-bottom: 35px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 0.2rem;    
    margin-top: 10px;
}
.newadd_editprocesscroll{
    max-height: 250px;
    overflow: auto;
}
.editprescription_scroll {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 180px;
    margin-top: 25px;
}
.newadd_editprocess .patient_txt h4 {
    font-size: 21px;
}
.editprocess_txt p{
    margin-bottom: 0px;
    }
 .editprocess_txt h4{
    margin: 0px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
     }
.editprocess_jpg .processorder_address{
    color: #000;
     }
.editprocess_jpg h4 {
        color: #11a9b5;
    }

 .editprocess_widget {
        position: relative;
        margin-bottom: 20px;
        padding: 15px 20px;
        background: #fff;
        border-radius: 0.2rem;
    }
    .table_process {
        padding: 0px !important;
    }
    .editprocess_widget .table-striped td input{
        width: 100px;
    }
    .editprocess_widget .table{
        margin-bottom: 0px;
    }
    .editprocess_widget .admin_order input{
        padding-left: 10px;
    }
    .editprocessdone_txt {
        background-color: #1dc8d5;
        border-color: #1dc8d5;
    }
    .editprocess_original {
        line-height: 30px;
    }
    .editprocessbotton_txt {
        padding: 7px 25px;
        font-size: 18px;
        border-radius: 4px;
        border: none;
        color: #fff;
    }
    .editprocess_form .from_txt {
        float: right;
    }
    .editprocess_form .from_txt {
        width: 350px;
    }
    .editprocess_original {
        line-height: 30px;
    }
    .editprocess_form .total_txt {
        font-weight: 500;
    }
    .editprocesssubmit_txt {
        background-color: #dd5826;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        padding: 8px 15px;
        font-weight: 500;
        margin-left: 25px;
        float: right;
    }
    .edit_process{
        padding-top: 20px;
    }
    .editprocess_padding {
        padding: 0px;
    }
    .quntity_txtbut input{
     padding-left: 10px;
    }
    .editprocess_widget  tbody  tr  td{
        max-width: initial !important;
    }
    .custom-modal-header h4{    
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        }
        .custom-modal-header{
            border-bottom:transparent;
        }
        .popupimage_txt{
            width: 100%;
            height: 330px;
        }
        .modal-body .reject_ordertxt{
        margin-top: 0px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 5px;
        }
        .reason_remark{
            padding-top: 15px;
        }
        .reason_remark .reason_txt{
            width: 100%;
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
        }
    .reason_remark input, .reason_remark textarea ,.image_sliderpop,.body_rejecttxt{
        width: 100% !important;
    }
    .reject_buttontxt{
        background-color: #ff6d6d;
        border-color: #ff6d6d;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        margin-top: 15px;
    }
    .slider_close{
        font-size: 30px;
        color: #000;
    }
    .schedule_txt{
        margin-bottom: 0px !important;
        font-size: 11px;
        }
    .image_clickpopup{
        width: 60%;
        height: 175px;
        cursor: pointer;
        }
    .download_imagetxt{
        padding: 10px 15px;
        background-color: #214d8d;
        color: #fff;
        float: right;
        margin-top: 10px;
        border-radius: 5px;
        font-size: 18px;
    }
    .editprocess_widget .widget-body .editprocess_widget .searchtable_prescription hs-select .newadvice_table .search_table .table_hs_search{
        position: relative !important;
        z-index: 9;
    }
    
   