@import "../../../../scss/variables";
@import "../../../../scss/theme.scss";

.ok_cancel {
    float: right;
}

.cancel_button {
    background: #e34131;
    color: #fff;
    padding: 3px 25px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.walkin_txt .misc_testdrop {
    display: none;
}

.ok_button {
    background: #005d97;
    border: none;
    color: #fff;
    padding: 3px 30px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

.search-result {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 5px 8px;
    background-color: white;
    cursor: pointer;
    position: relative;
    left: 0px;
    right: 0px;
    width: 234px;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

.welcome_text {
    color: #14a9b5
}

.advice_text {
    padding-left: 0px;
}

.advice_text h2 {
    font-size: 30px;
    color: #14a9b5;
    font-weight: 500;
}

.patient_txt {
    float: left;
}

.color_cash {
    font-size: 500;
}

.newadd_patient {
    position: relative;
    margin-bottom: 35px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 0.2rem;
    height: 80px;
    margin-top: 10px;

}

.newadd_patient .patient_txt h4,
.newadd_patient .patient_txt p {
    margin: 0px;
    font-weight: 400;

}

.unit_rate {
    font-size: 11px;
    padding-right: 0px;
}

.unit_nan {
    padding-left: 0px;
    font-size: 12px;
    padding-top: 5px;
}

.with_taxes {
    font-size: 12px;
}

.rate_nan {
    font-size: 14px;
}

.schedule_txt {
    margin-bottom: 0px !important;
    color: #000;
    font-size: 11px;
}

.textpackage {
    padding-left: 15px;
    padding-right: 15px;
}

.fname-txt {
    width: 100px;
    font-size: 13px;
    text-align: center;
    resize: none;
    height: 25px;
}

.fname_45txt {
    width: 100%;
    font-size: 13px;
    padding-left: 10px;
}

.fname_3txt {
    width: 100px;
    font-size: 13px;
    text-align: center;

}

.fname_4txt {
    width: 100px;
    font-size: 13px;
    text-align: center;

}

.fname_5txt {
    width: 85px;
    font-size: 13px;
    text-align: center;
    pointer-events: none;

}

.fname_discount_text {
    max-width: 65px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    padding-left: 13px;
}

.fname_6txt {
    width: 50px;
    font-size: 13px;
    text-align: center;

}

.autocom_box .completer-holder .completer-input {
    width: 130px;
}

.brand-txt {
    width: 140px;
    font-size: 13px;
    text-align: center;
    resize: none;
    height: 25px;
    border-radius: 0px;
}

.table>thead>tr>th {
    width: 300px;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: #000 !important;
}

.perscripton_txt {
    font-size: 24px;
    // color: rgba(20, 169, 181, 0.8);
    color: $precription-title;
    font-weight: 500;

}

.typeahead-input,
.typeahead-typeahead {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
}

.newadvice_table {
    margin-bottom: 4px;
}

.newadvice_table .error_advicetab {

    border: none !important;
    padding: 0px !important;
}

.newadvice_table .error_advicetab .quantity_txt {
    padding: 0px;
    margin: 0px;
    color: #ff0000;
    text-align: right;
    padding-right: 100px;
    font-size: 12px;
    padding-bottom: 5px;
}

.newadvice_table .error_advicetab .quantity_txt sup {
    font-size: 18px;
    top: -1px;
}

.generic_control {
    font-weight: 400;
    padding: 0px 12px;
    box-shadow: none;
    border-radius: 0px;
    width: 145px;
}

.addpop_txt {
    width: 540px !important;
}

.generic_pupop {
    width: 700px;
    height: 400px;
    overflow-x: auto;
}

.from_txt {
    width: 540px;
}

.from_txt,
.submit_txt {
    float: right;
}

.add_medtxt {
    padding: 0px 43px 0px;
    font-size: 30px;
    color: $title-color;
    font-weight: 500;
}

.model_txt {
    float: right;
    right: 0px;
    width: 400px;
}

.model_txt1 {
    float: right;
    right: 0px;
    width: 500px;
}

.modal-body {
    position: relative;
    padding: 0px 45px 0px !important;
}


/*Left*/
.modal.left .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.in .modal-dialog {
    right: 0;
    margin: 0px;
    position: relative;
    height: 100%;
}


.modal.right .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.left.in .modal-dialog,
.modal.right.in .modal-dialog {
    right: 0;
    margin: 0px;
    position: relative;
    height: 100%;
}

.modal-content {
    border-radius: 0;
    border: none;
    min-height: 100%;
    margin: 0 auto;
    bottom: 0;
    width: auto;
}

.input_date .form-control {
    padding: 10px 5px;
}

.dropdown-menu {
    font-size: 13px;
    padding: 20px 15px;
}

.close_txt {
    font-size: 40px;
}

.Update {
    width: 172px;
    height: 17px;

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    width: 172px;
    height: 40px;
    border-radius: 2px;
    // background-color: #ff6d6d;
    // border: solid 1px #ec6262;
    background-color: $btn-danger-bg;
    border: solid 1px $btn-danger-border;
}

.all_textboxtxt {
    font-size: 14px;
    width: 100%;
}

.submit_txt {
    background-color: #dd5826;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 35px;
    font-weight: 500;
}

.submit_txt:focus {
    outline: none;
}

.total_txt {
    font-weight: 500;
}

.form-inline .input-group {
    display: flex;
}

@media only screen and (min-width: 320px) {
    .newadd_patient {
        height: 190px;

    }

    .widget-body {
        overflow-x: scroll;
    }

    .newadd_patient .patient_txt h4 {
        font-size: 16px;
    }

    .newadd_patient .patient_txt p {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .patient_txt {
        padding-bottom: 8px;
    }

    input[placeholder],
    [placeholder],
    *[placeholder] {
        color: rgba(0, 0, 0, 0.71) !important;
        border: 1px solid rgba(0, 0, 0, 0.47);
    }

    .from_txt {
        width: auto;
    }

    .modal-body {
        position: relative;
        padding: 0px 45px 0px 75px !important;
    }
}

@media only screen and (min-width: 640px) {
    .newadd_patient {
        height: 70px;
    }

    .newadd_patient .patient_txt h4 {
        font-size: 22px;
    }

    .from_txt {
        width: 540px;
    }

    .modal-body {
        position: relative;
        padding: 0px 45px 0px 45px !important;
    }

}

@media only screen and (min-width: 1200px) {
    .newadd_patient .patient_txt h4 {
        font-size: 21px;
    }

    .newadd_patient .patient_txt p {
        font-size: 13px;
        padding-bottom: 0px;
    }

    .newadd_patient {
        height: 80px;
    }

    .patient_txt {
        padding-bottom: 0px;
    }

    .from_txt {
        width: 540px;
    }

    .table thead th:first-child,
    .table tbody td:first-child {
        width: 125px;
    }

    .widget-body {
        overflow-x: hidden;
    }
}

////////////////////// input css start her ////



.md-input {
    position: relative;
    margin-bottom: 30px;
}

.md-input .md-form-control {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 2px solid #CACACA;
    box-shadow: none;
    width: 100%;
}

.md-input label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.other_discount .quantity_txt {
    padding: 0px;
    margin: 0px;
    color: #ff0000;
    text-align: left;
    padding-right: 100px;
    font-size: 12px;
    padding-bottom: 5px;
}

.other_discount .quantity_txt sup {
    font-size: 18px;
    top: -1px;
}

.md-input .bar:before {
    left: 50%;
}

.md-input .bar:after {
    right: 50%;
}

.md-input .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.md-input .md-form-control:focus~label,
.md-input .md-form-control:valid~label {
    top: -15px;
    font-size: 14px;
    color: #183D5D;
}

.md-input .bar:before,
.md-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #03A9F4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.md-input .md-form-control:focus~.bar:before,
.md-input .md-form-control:focus~.bar:after {
    width: 50%;
}

.md-input .md-form-control:focus {
    outline: 0px;
}

.patient_row {
    padding: 0px !important;
}

.widget_txt {
    padding: 30px 20px;
}

#search-productname-result {
    width: 140px;
    position: absolute;
    margin-left: 0px;
    z-index: 11111111;
    overflow-y: auto;
    max-height: 170px;
    overflow-x: hidden;
    padding: 0px;
}

.search-result {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    width: 143px;
    position: relative;
    left: 0px;
    right: 44px;
}

.search-result:hover {
    color: #eee;
    color: #eee;
    background-color: #607D8B;
}

#search-result {
    position: absolute;
    margin-left: -15px;
    width: 14.3%;
}

.newadd_patient {
    padding: 30px 20px !important;
}

.with_txt {
    font-size: 10px;
    margin-bottom: 0px;
    line-height: 10px;
}

.error_Messages {
    list-style-type: none;
    margin: 5px 15px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    color: #B94A48;
    background-color: #F2DEDE;
    border: none !important;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 11px;
    background-color: transparent !important;
}

input[type='number'] {
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.other-paymentdetails {
    display: none;
    margin-bottom: 10px;
}

.other-paymentdetails input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: calc(2.5rem - 2px);
}

#other-payment:checked~.other-paymentdetails {
    display: block !important;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .from_txt {
        width: 490px;
    }
}

.other-discount {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.walkinmiscellaneous_widget .table {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .walkinmiscellaneous_widget {
        border: none !important;
    }

    .model_txt {
        width: 100%;
    }
}

table td .tabledatalabel-right .noscroll {
    width: 100px;
}

.tabledatalabel-right input {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add_margin {
    margin: 17px 0px 0px 0px !important;
}

.table_size {
    margin-left: 18px;
}