<div class="table_size">
    <hs-message [isError]="isError" [show]="showMessage" [messages]="errorMessage"></hs-message>
    <h1 class="page-title">Logistic Travel Details </h1>

    <form action="#">
        <div class="row">
            <div class="col-xl-6 col-lg-5">
                <mat-form-field appearance="outline" class="search-orders">
                    <mat-label>Agent Name/Mobile Number</mat-label>
                    <input type="text" autocomplete="off" id="search" (keyup)="onEnterPressed($event)" matInput placeholder="Enter Agent Name/Mobile Number">
                    <i class="fa fa-search" aria-hidden="true" matSuffix (click)="getBasedOnName()"></i>
                </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-7">            
                <div class="datePayment">
                    <div class="row">
                        <div class="form-group col-sm-6 mb-0">
                            <h6 class="sub-title">Start Date</h6>
                            <datetime class="startdate" [(value)]="startDate" name="startDate" id="datepicker" [placeholder]="'Start Date'" [datepicker]="datepickerOpts" (dateChange)="startDateChoosen($event)" [timepicker]="false">
                            </datetime>
                        </div>
                        <div class="form-group col-sm-6 mb-0">
                            <h6 class="sub-title">End Date</h6>
                            <datetime [(value)]="endDate" name="endDate" id="datepicker" [placeholder]="'End Date'" [datepicker]="datepickerOpts" (dateChange)="endDateChoosen($event)" [timepicker]="false">
                            </datetime>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row mt-1">
        <div class="col-md-12">
            <div class="autorefresh-refreshbutton filter-ordersbtn">
                <button type="button" class="btn btn-primary searchresult_resetbtn" role="button" (click)="getRefreshedList()">
                    <span class="glyphicon glyphicon-repeat"></span>
                    <span class="refresh_txt">REFRESH</span>
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <section class="widget table_pading hs-table" widget>
                <div class="widget-body">
                    <hs-table [columns]="columns" [pagingList]="response" [perPage]="perPage" [total] = "total"
                        (pageClick)="onPage($event)" [dataMsg]="dataMsg" [componentId]="'traveltable'">
                    </hs-table>
                </div>
            </section>
        </div>
    </div>
</div>
<spinner-component></spinner-component>